/* ------- *
 |  COLOR  |
 * ------- */
:root {
  --html-background: #CFD8DC;
  --app-background: repeating-linear-gradient(90deg, #CFD8DC 0px, #ECEFF1 4px, #CFD8DC 8px);
  --app-color: #263238;
  --app-font-size: 4vmin;
  --app-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
  --lead-panel-background: #C5CAE9EE;
  --lead-panel-color: #263238;
  --fold-lead-checkbox-background: #455A64;
  --fold-lead-checkbox-color: #CFD8DC;
  --q-and-a-panel-background: #FFFC;
  --q-and-a-panel-color: #263238;
  --q-and-a-cover-background: #3F51B5;
  --q-and-a-cover-color: #3949AB;
  --controller-color: #455A64;
  --on-toggle-color: #FFC107;
  --off-toggle-color: #607D8B;
  --controller-background: #CFD8DC;
  --disabled-controller-background: #ECEFF1;
  --footer-background: #37474F;
  --footer-color: #CFD8DC;
  --branch-number-1-background: #EF9A9A99;
  --branch-number-2-background: #90CAF999;
  --branch-number-3-background: #FFF59D99;
  --branch-number-4-background: #A5D6A799;
  --branch-number-5-background: #CE93D899;
  --branch-number-6-background: #FFCC8099;
  --branch-number-7-background: #80DEEA99;
  --branch-number-8-background: #F48FB199;
  --branch-number-9-background: #BCAAA499;
  --branch-number-0-background: #B0BEC599;
  --hint-balloon-background: #FFF;
  --hint-balloon-border-color: #607D8B;
  --hint-balloon-color: #263238;
}
@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

/* --------- *
 |  GENERAL  |
 * --------- */
:root {
  --cell-border-spacing: .25rem;
  --lead-cell-height: 2.25rem;
  --fold-lead-checkbox-size: 1.5rem;
  --controller-height: 2rem;
  --footer-cell-height: 2rem;
  --common-padding: .5rem 1rem;
  --common-border-width: 1px;
  --common-line-height: 1.5em;
  --common-transition-duration: 500ms;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
}
#disable-animation-checkbox:checked ~ * *,
#disable-animation-checkbox:checked ~ * *:before,
#disable-animation-checkbox:checked ~ * *:after {
  transition-duration: 0ms !important;
  animation-duration: 0ms !important;
}
svg {
  fill: currentColor;
  stroke: currentColor;
}

/* ------------- *
 |  GRID LAYOUT  |
 * ------------- */
html {
  height: 100%;
  background: var(--html-background);
  color: var(--app-color);
  font-size: var(--app-font-size);
  font-family: var(--app-font-family);
}
body {
  display: grid;
  grid-template:
    "lead lead lead" var(--lead-cell-height)
    "... ... ..." var(--cell-border-spacing)
    "question ... answer" 1fr
    "statistic ... controller" min-content
    "footer footer footer" var(--footer-cell-height)
    / 1fr var(--cell-border-spacing) 1fr;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--app-background);
}
@media screen and (orientation: portrait) {
  body {
    grid-template:
      "lead" var(--lead-cell-height)
      "..." var(--cell-border-spacing)
      "question" 1fr
      "..." var(--cell-border-spacing)
      "answer" 1fr
      "statistic" min-content
      "controller" min-content
      "footer" var(--footer-cell-height)
      / 100%;
  }
}
#lead-cell {
  grid-area: lead;
}
#question-cell {
  grid-area: question;
}
#answer-cell {
  grid-area: answer;
}
#statistic-cell {
  grid-area: statistic;
}
#controller-cell {
  grid-area: controller;
}
#footer-cell {
  grid-area: footer;
}
#lead-cell,
#question-cell,
#answer-cell,
#statistic-cell,
#controller-cell,
#footer-cell {
  position: relative;
}

/* ----------- *
 |  LEAD CELL  |
 * ----------- */
#lead-panel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  overflow-y: auto;
  background: var(--lead-panel-background);
}
#lead-body {
  margin-bottom: var(--fold-lead-checkbox-size);
  padding: var(--common-padding);
  color: var(--lead-panel-color);
  font-size: 1rem;
  line-height: var(--common-line-height);
  overflow-wrap: break-word;
}
[for="fold-lead-checkbox"] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1rem;
  z-index: 110;
  width: var(--fold-lead-checkbox-size);
  height: var(--fold-lead-checkbox-size);
  background: var(--fold-lead-checkbox-background);
  color: var(--fold-lead-checkbox-color);
}
[for="fold-lead-checkbox"] > svg {
  width: 50%;
  height: 50%;
}
*:checked + [for="fold-lead-checkbox"] ~ #lead-panel {
  height: var(--lead-cell-height);
  transition-duration: var(--common-transition-duration);
}
*:not(:checked) + [for="fold-lead-checkbox"] ~ #lead-panel {
  height: calc(100% - var(--footer-cell-height));
  transition-duration: var(--common-transition-duration);
}
*:not(:disabled):not(:checked) + [for="fold-lead-checkbox"] {
  bottom: var(--footer-cell-height);
  transform: scale(1, 1);
  transition-property: bottom;
  transition-duration: var(--common-transition-duration);
}
*:not(:disabled):checked + [for="fold-lead-checkbox"] {
  bottom: calc(100% - var(--lead-cell-height));
  transform: scale(1, -1);
  transition-property: bottom;
  transition-duration: var(--common-transition-duration);
}
*:disabled + [for="fold-lead-checkbox"] {  
  opacity: 0;
  bottom: calc(100% - var(--lead-cell-height));
  transform: scale(1, -1);
  transition-property: opacity, bottom;
  transition-duration: var(--common-transition-duration);
}

/* ------------------------------- *
 |  QUESTION CELL AND ANSWER CELL  |
 * ------------------------------- */
#question-panel,
#answer-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: var(--q-and-a-panel-background);
}
#question-body,
#answer-body {
  margin: auto;
  padding: var(--common-padding);
  color: var(--q-and-a-panel-color);
  font-size: 1.5rem;
  line-height: var(--common-line-height);
}
#question-cover,
#answer-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--q-and-a-cover-background);
  color: var(--q-and-a-cover-color);
  font-weight: bold;
  font-size: 10rem;
}
.branch {
  font-weight: bold;
}
.branch[data-branch-number="1"] {
  background: var(--branch-number-1-background);
}
.branch[data-branch-number="2"] {
  background: var(--branch-number-2-background);
}
.branch[data-branch-number="3"] {
  background: var(--branch-number-3-background);
}
.branch[data-branch-number="4"] {
  background: var(--branch-number-4-background);
}
.branch[data-branch-number="5"] {
  background: var(--branch-number-5-background);
}
.branch[data-branch-number="6"] {
  background: var(--branch-number-6-background);
}
.branch[data-branch-number="7"] {
  background: var(--branch-number-7-background);
}
.branch[data-branch-number="8"] {
  background: var(--branch-number-8-background);
}
.branch[data-branch-number="9"] {
  background: var(--branch-number-9-background);
}
.branch[data-branch-number="0"] {
  background: var(--branch-number-0-background);
}
:root .hint-balloon-panel {
  --hint-balloon-height: 1.5em;
  --hint-balloon-border-width: .2rem;
}
.hint-balloon-panel {
  position: fixed;
  z-index: 200;
  height: var(--hint-balloon-height);
  margin-top: calc(var(--hint-balloon-height) * -1 - var(--hint-balloon-border-width));
  overflow: visible;
  color: var(--hint-balloon-color);
  font-weight: bold;
}
.branch:hover .hint-balloon-panel {
  visibility: visible;
  opacity: 1;
  transition-duration: calc(var(--common-transition-duration) / 2);
}
.branch:not(:hover) .hint-balloon-panel {
  visibility: hidden;
  opacity: 0;
  transition-duration: calc(var(--common-transition-duration) / 2);
}
.hint-balloon-panel::before {
  display: block;
  position: absolute;
  top: 100%;
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-border-color);
  content: "";
}
.hint-balloon-panel::after {
  display: block;
  position: absolute;
  top: calc(100% - .2rem * 2);
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-background);
  content: "";
}
.hint-balloon-body {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 calc(var(--hint-balloon-border-width) * 2);
  border: var(--hint-balloon-border-width) solid var(--hint-balloon-border-color);
  background: var(--hint-balloon-background);
  white-space: nowrap;
}

/* ---------------- *
 |  STATISTIC CELL  |
 * ---------------- */
#statistic-panel {
  width: 100%;
  height: 100%;
}
#statistic-body {
  padding: var(--common-padding);
  font-size: .75rem;
}

/* ----------------- *
 |  CONTROLLER CELL  |
 * ----------------- */
#controller-panel {
  width: 100%;
  height: 100%;
}
#controller-body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: var(--common-padding);
}
#controller-body > *:not(:last-child) {
  border-right: 0;
}
:root [for="enable-automatic-question-reading-checkbox"],
:root [for="enable-automatic-answer-reading-checkbox"] {
  --this-toggle-height: .25rem;
}
[for="enable-automatic-question-reading-checkbox"],
[for="enable-automatic-answer-reading-checkbox"] {
  position: relative;
  width: 1.5rem;
  height: var(--controller-height);
  border: var(--common-border-width) solid var(--controller-color);
  background: var(--controller-background);
}
[for="enable-automatic-question-reading-checkbox"]::before,
[for="enable-automatic-answer-reading-checkbox"]::before {
  top: 0;
  border-top: var(--this-toggle-height) solid transparent;
  border-bottom: var(--common-border-width) solid var(--controller-color);
  background: var(--off-toggle-color);
  color: var(--controller-background);
}
[for="enable-automatic-question-reading-checkbox"]::after,
[for="enable-automatic-answer-reading-checkbox"]::after {
  top: 100%;
  border-top: var(--common-border-width) solid var(--controller-color);
  border-bottom: var(--this-toggle-height) solid transparent;
  background: var(--on-toggle-color);
  color: var(--controller-color);
}
[for="enable-automatic-question-reading-checkbox"]::before,
[for="enable-automatic-question-reading-checkbox"]::after,
[for="enable-automatic-answer-reading-checkbox"]::before,
[for="enable-automatic-answer-reading-checkbox"]::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - var(--this-toggle-height));
  font-weight: bold;
  transition-duration: calc(var(--common-transition-duration) / 2);
}
[for="enable-automatic-question-reading-checkbox"]::before,
[for="enable-automatic-question-reading-checkbox"]::after {
  content: "Q";
}
[for="enable-automatic-answer-reading-checkbox"]::before,
[for="enable-automatic-answer-reading-checkbox"]::after {
  content: "A";
}
*:checked + [for="enable-automatic-question-reading-checkbox"]::before,
*:checked + [for="enable-automatic-answer-reading-checkbox"]::before {
  top: calc(var(--this-toggle-height) - 100%);
}
*:checked + [for="enable-automatic-question-reading-checkbox"]::after,
*:checked + [for="enable-automatic-answer-reading-checkbox"]::after {
  top: var(--this-toggle-height);
}
#speak-button {
  width: 3.5rem;
}
#play-button {
  width: 5.5rem;
}
#skip-button {
  width: 3.5rem;
}
#speak-button,
#play-button,
#skip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--controller-height);
  border: var(--common-border-width) solid var(--controller-color);
  background: var(--controller-background);
  color: var(--controller-color);
}
#speak-button:disabled,
#play-button:disabled,
#skip-button:disabled {
  background: var(--disabled-controller-background);
}
#speak-button > svg,
#play-button > svg,
#skip-button > svg {
  width: 50%;
  height: 50%;
}

/* ------------- *
 |  FOOTER CELL  |
 * ------------- */
#footer-panel {
  width: 100%;
  height: 100%;
  background: var(--footer-background);
}
#footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--common-padding);
  color: var(--footer-color);
  font-size: .75rem;
  white-space: nowrap;
}
#home-link {
  display: flex;
  align-items: center;
}
#home-link > svg {
  width: 1em;
  height: 1em;
  color: var(--footer-color);
}

/* ----------- *
 |  ANIMATION  |
 * ----------- */
@keyframes slideInFromLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes slideInFromRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes flipA {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flipB {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
