/* ------- *
 |  COLOR  |
 * ------- */
:root {
  --app-background-color: #CFD8DC;
  --app-color: #263238;
  --lead-panel-background-color: #C5CAE9EE;
  --lead-panel-color: #263238;
  --fold-lead-checkbox-background-color: #455A64;
  --fold-lead-checkbox-color: #CFD8DC;
  --main-panel-background-color: #FFFC;
  --main-panel-color: #263238;
  --main-cover-background-color: #3F51B5;
  --main-cover-color: #3949AB;
  --controls-background-color: #CFD8DC;
  --disabled-controls-background-color: #ECEFF1;
  --controls-color: #455A64;
  --toggle-color: #607D8B;
  --on-toggle-color: #FFC107;
  --footer-background-color: #37474F;
  --footer-color: #CFD8DC;
  --option-number-1-background-color: #EF9A9A99;
  --option-number-2-background-color: #90CAF999;
  --option-number-3-background-color: #FFF59D99;
  --option-number-4-background-color: #A5D6A799;
  --option-number-5-background-color: #CE93D899;
  --option-number-6-background-color: #FFCC8099;
  --option-number-7-background-color: #80DEEA99;
  --option-number-8-background-color: #F48FB199;
  --option-number-9-background-color: #BCAAA499;
  --option-number-0-background-color: #B0BEC599;
  --hint-balloon-background-color: #FFF;
  --hint-balloon-border-color: #607D8B;
  --hint-balloon-color: #263238;
}
.disable-option-marking {
  --option-number-1-background-color: unset;
  --option-number-2-background-color: unset;
  --option-number-3-background-color: unset;
  --option-number-4-background-color: unset;
  --option-number-5-background-color: unset;
  --option-number-6-background-color: unset;
  --option-number-7-background-color: unset;
  --option-number-8-background-color: unset;
  --option-number-9-background-color: unset;
  --option-number-0-background-color: unset;
}

/* --------- *
 |  GENERAL  |
 * --------- */
:root {
  --app-font-size: 4vmin;
  --app-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
  --cell-border-spacing: .25rem;
  --lead-cell-height: 2.25rem;
  --hint-balloon-height: 1.5em;
  --hint-balloon-border-width: .2rem;
  --controls-height: 2rem;
  --footer-cell-height: 2rem;
  --common-padding: .5rem 1rem;
  --common-border-width: 1px;
  --common-line-height: 1.5em;
  --common-transition-duration: 500ms;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
  user-select: none;
  touch-action: none;
}
:root[data-disable-animation="true"] *,
:root[data-disable-animation="true"] *:before,
:root[data-disable-animation="true"] *:after {
  transition-duration: 0ms !important;
  animation-duration: 0ms !important;
}
html {
  height: 100%;
  background-image: repeating-linear-gradient(90deg, #FFF0 0px, #FFF6 4px, #FFF0 8px);
  background-color: var(--app-background-color);
  color: var(--app-color);
  font-size: var(--app-font-size);
  font-family: var(--app-font-family);
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: var(--common-border-width) solid transparent;
  background-color: inherit;
  color: inherit;
}
button > svg {
  width: 75%;
  height: 75%;
  fill: currentColor;
  stroke: currentColor;
}

/* ----------- *
 |  HTML BODY  |
 * ----------- */
body {
  display: grid;
  grid-template:
    "lead lead lead" var(--lead-cell-height)
    "... ... ..." var(--cell-border-spacing)
    "question ... answer" 1fr
    "statistics ... control" min-content
    "footer footer footer" var(--footer-cell-height)
    / 1fr var(--cell-border-spacing) 1fr;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
@media screen and (orientation: portrait) {
  body {
    grid-template:
      "lead" var(--lead-cell-height)
      "..." var(--cell-border-spacing)
      "question" 1fr
      "..." var(--cell-border-spacing)
      "answer" 1fr
      "statistics" min-content
      "control" min-content
      "footer" var(--footer-cell-height)
      / 100%;
  }
}
#lead-cell {
  grid-area: lead;
}
#question-cell {
  grid-area: question;
}
#answer-cell {
  grid-area: answer;
}
#statistics-cell {
  grid-area: statistics;
}
#controls-cell {
  grid-area: control;
}
#footer-cell {
  grid-area: footer;
}
#lead-cell,
#question-cell,
#answer-cell,
#statistics-cell,
#controls-cell,
#footer-cell {
  position: relative;
}

/* ----------- *
 |  LEAD CELL  |
 * ----------- */
#lead-cell {
  --fold-lead-button-height: 1.5rem;
}
#lead-panel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: calc(100% - var(--footer-cell-height));
  overflow-y: auto;
  background-color: var(--lead-panel-background-color);
  transition-duration: var(--common-transition-duration);
}
.is-lead-folded #lead-panel {
  height: var(--lead-cell-height);
}
#lead-body {
  margin-bottom: var(--fold-lead-button-height);
  padding: var(--common-padding);
  color: var(--lead-panel-color);
  font-size: 1rem;
  line-height: var(--common-line-height);
  overflow-wrap: break-word;
}
#fold-lead-button {
  position: fixed;
  right: 1rem;
  bottom: var(--footer-cell-height);
  z-index: 110;
  width: 2rem;
  height: var(--fold-lead-button-height);
  background-color: var(--fold-lead-checkbox-background-color);
  color: var(--fold-lead-checkbox-color);
  transition-duration: var(--common-transition-duration);
}
.is-lead-folded #fold-lead-button {
  bottom: calc(100% - var(--lead-cell-height));
  transform: scale(1, -1);
}
#fold-lead-button:disabled {
  opacity: 0;
}
#fold-lead-button > svg {
  width: 60%;
  height: 60%;
}

/* ------------------------------- *
 |  QUESTION CELL AND ANSWER CELL  |
 * ------------------------------- */
#question-panel,
#answer-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--main-panel-background-color);
}
#question-body,
#answer-body {
  margin: auto;
  padding: var(--common-padding);
  color: var(--main-panel-color);
  font-size: 1.5rem;
  line-height: var(--common-line-height);
}
#question-cover,
#answer-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-cover-background-color);
  color: var(--main-cover-color);
  font-weight: bold;
  font-size: 10rem;
}
.option {
  font-weight: bold;
}
.option[data-option-number="1"] {
  background-color: var(--option-number-1-background-color);
}
.option[data-option-number="2"] {
  background-color: var(--option-number-2-background-color);
}
.option[data-option-number="3"] {
  background-color: var(--option-number-3-background-color);
}
.option[data-option-number="4"] {
  background-color: var(--option-number-4-background-color);
}
.option[data-option-number="5"] {
  background-color: var(--option-number-5-background-color);
}
.option[data-option-number="6"] {
  background-color: var(--option-number-6-background-color);
}
.option[data-option-number="7"] {
  background-color: var(--option-number-7-background-color);
}
.option[data-option-number="8"] {
  background-color: var(--option-number-8-background-color);
}
.option[data-option-number="9"] {
  background-color: var(--option-number-9-background-color);
}
.option[data-option-number="0"] {
  background-color: var(--option-number-0-background-color);
}
.hint-balloon-panel {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 200;
  height: var(--hint-balloon-height);
  margin-top: calc(var(--hint-balloon-height) * -1 - var(--hint-balloon-border-width));
  overflow: visible;
  color: var(--hint-balloon-color);
  font-weight: bold;
  transition-duration: calc(var(--common-transition-duration) / 2);
}
.option.active .hint-balloon-panel {
  visibility: visible;
  opacity: 1;
}
.hint-balloon-panel::before {
  display: block;
  position: absolute;
  top: 100%;
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-border-color);
  content: "";
}
.hint-balloon-panel::after {
  display: block;
  position: absolute;
  top: calc(100% - .2rem * 2);
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-background-color);
  content: "";
}
.hint-balloon-body {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 calc(var(--hint-balloon-border-width) * 2);
  border: var(--hint-balloon-border-width) solid var(--hint-balloon-border-color);
  background-color: var(--hint-balloon-background-color);
  white-space: nowrap;
}

/* ---------------- *
 |  STATISTIC CELL  |
 * ---------------- */
#statistics-panel {
  width: 100%;
  height: 100%;
}
#statistics-body {
  padding: var(--common-padding);
  font-size: .75rem;
}

/* ----------------- *
 |  CONTROLLER CELL  |
 * ----------------- */
#controls-panel {
  width: 100%;
  height: 100%;
}
#controls-body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: var(--common-padding);
}
#controls-body > *:not(:last-child) {
  border-right: 0;
}
:root .reading-toggle {
  --this-toggle-height: .25rem;
}
.reading-toggle {
  position: relative;
  width: 1.5rem;
  height: var(--controls-height);
  border: var(--common-border-width) solid var(--controls-color);
  background-color: var(--controls-background-color);
}
.reading-toggle::before {
  top: 0;
  border-top: var(--this-toggle-height) solid transparent;
  border-bottom: var(--common-border-width) solid var(--controls-color);
  background-color: var(--toggle-color);
  color: var(--controls-background-color);
}
.reading-toggle::after {
  top: 100%;
  border-top: var(--common-border-width) solid var(--controls-color);
  border-bottom: var(--this-toggle-height) solid transparent;
  background-color: var(--on-toggle-color);
  color: var(--controls-color);
}
.reading-toggle::before,
.reading-toggle::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - var(--this-toggle-height));
  font-weight: bold;
  transition-duration: calc(var(--common-transition-duration) / 2);
}
.reading-toggle[for="enable-automatic-question-reading-checkbox"]::before,
.reading-toggle[for="enable-automatic-question-reading-checkbox"]::after {
  content: "Q";
}
.reading-toggle[for="enable-automatic-answer-reading-checkbox"]::before,
.reading-toggle[for="enable-automatic-answer-reading-checkbox"]::after {
  content: "A";
}
*:checked + .reading-toggle::before {
  top: calc(var(--this-toggle-height) - 100%);
}
*:checked + .reading-toggle::after {
  top: var(--this-toggle-height);
}
.operation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: var(--controls-height);
  border: var(--common-border-width) solid var(--controls-color);
  background-color: var(--controls-background-color);
  color: var(--controls-color);
}
.operation-button#play-button {
  width: 5.5rem;
}
.operation-button:disabled {
  background-color: var(--disabled-controls-background-color);
}
.operation-button > svg {
  width: 50%;
  height: 50%;
}

/* ------------- *
 |  FOOTER CELL  |
 * ------------- */
#footer-panel {
  width: 100%;
  height: 100%;
  background-color: var(--footer-background-color);
}
#footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--common-padding);
  color: var(--footer-color);
  font-size: .75rem;
  white-space: nowrap;
}
#visit-home-button,
#show-settings-button {
  width: 1rem;
  height: 1rem;
}


/*
#visit-home-link,
#show-settings-link {
  display: flex;
  align-items: center;
}
#visit-home-link > svg,
#show-settings-link > svg {
    width: 1em;
  height: 1em;
  color: var(--footer-color);
}
*/
/*-----------------*
 |  SETTINGS CELL  |
 *-----------------*/
#settings-cell {
  display: flex;
display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0009;
  z-index: 300;
}
:root.is-settings-shown #settings-cell {
  display: flex;
}
#settings-panel {
  display: flex;
  flex-direction: column;
max-height: calc(100% - 5rem);
  width: calc(100% - 5rem);
  background-color: white;
}
#settings-header {
  flex-shrink: 0;
  background-color: black;
  color: white;
  height: 2rem;
}
#settings-body {
  padding: var(--common-padding);
  background: blue;
  overflow-y: auto;
}

/* ----------- *
 |  ANIMATION  |
 * ----------- */
@keyframes slideInFromLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes slideInFromRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes flipA {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flipB {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
