@import url("https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css");
body {
  opacity: 0;
}
ul, ol, dl {
  padding-left: 2.5rem;
}
ol {
  list-style-type: lower-latin;
}
dt {
  display: list-item;
  list-style-type: desc;
}
