/*------------*
 *  SETTINGS  *
 *------------*/
/*  ENABLE VARIABLE HIGHLIGHT  */
:root,
:root[data-enable-variable-highlight="true"] {
  --variable-number-1-background-color: #F4433666;
  --variable-number-2-background-color: #2196F366;
  --variable-number-3-background-color: #4CAF5066;
  --variable-number-4-background-color: #FF980066;
  --variable-number-5-background-color: #9C27B066;
  --variable-number-6-background-color: #FFEB3B66;
  --variable-number-7-background-color: #3F51B566;
  --variable-number-8-background-color: #8BC34A66;
  --variable-number-9-background-color: #79554866;
  --variable-number-0-background-color: #607D8B66;
}
:root[data-enable-variable-highlight="false"] {
  --variable-number-1-background-color: unset;
  --variable-number-2-background-color: unset;
  --variable-number-3-background-color: unset;
  --variable-number-4-background-color: unset;
  --variable-number-5-background-color: unset;
  --variable-number-6-background-color: unset;
  --variable-number-7-background-color: unset;
  --variable-number-8-background-color: unset;
  --variable-number-9-background-color: unset;
  --variable-number-0-background-color: unset;
}

/*  ENABLE HINT BALLOON  */
:root,
:root[data-enable-hint-balloon="true"] {
  --variable-underline-color: var(--hint-balloon-chip-border-color);
  --hint-balloon-chip-display: block;
}
:root[data-enable-hint-balloon="false"] {
  --variable-underline-color: unset;
  --hint-balloon-chip-display: none;
}

/*  ANIMATION DURATION  */
:root[data-animation-duration="none"] {
  --common-transition-duration: 0;
}
:root[data-animation-duration="short"] {
  --common-transition-duration: .25s;
}
:root,
:root[data-animation-duration="medium"] {
  --common-transition-duration: .5s;
}
:root[data-animation-duration="long"] {
  --common-transition-duration: .75s;
}

/*  FONT SIZE  */
:root[data-font-size="extra-small"] {
  --drill-panel-font-size: 1rem;
}
:root[data-font-size="small"] {
  --drill-panel-font-size: 1.25rem;
}
:root,
:root[data-font-size="medium"] {
  --drill-panel-font-size: 1.5rem;
}
:root[data-font-size="large"] {
  --drill-panel-font-size: 1.75rem;
}
:root[data-font-size="extra-large"] {
  --drill-panel-font-size: 2rem;
}

/*  FONT FAMILY  */
:root,
:root[data-font-family="sans-serif"] {
  --drill-panel-font-family: inherit;
}
:root[data-font-family="serif"] {
  --drill-panel-font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

/*  LINE HEIGHT  */
:root[data-line-height="small"] {
  --drill-body-line-height: 1.25em;
}
:root,
:root[data-line-height="medium"] {
  --drill-body-line-height: 1.5em;
}
:root[data-line-height="large"] {
  --drill-body-line-height: 1.75em;
}

/*  COLOR SCHEME  */
:root,
:root[data-color-scheme="light"] {
  --app-main-background-color: #CFD8DC;
  --app-main-color: #202020;
  --app-sub-background-color: #37474F;
  --app-sub-color: #DFDFDF;
  --background-pattern-color: #8882;
  --button-border-color: #607D8B;
  --button-background-color: #CFD8DC;
  --button-color: #455A64;
  --lead-panel-background-color: #B0BEC5;
  --fold-lead-button-background-color: #455A64;
  --fold-lead-button-color: #DFDFDF;
  --drill-panel-background-color: #FFF8;
  --drill-cover-background-color: var(--accent-color);
  --hint-balloon-chip-border-color: #607D8B;
  --hint-balloon-chip-background-color: #DFDFDF;
  --off-toggle-button-highlight-color: #78909C;
  --on-toggle-button-highlight-color: #FFC107;
  --setting-category-border-color: #607D8B;
  --radio-button-background-color: #DFDFDF;
}
 :root[data-color-scheme="dark"],
 :root[data-color-scheme="auto"].prefers-dark-color-scheme {
  --button-border-color: #90A4AE;
  --app-main-background-color: #263238;
  --app-main-color: #ECEFF1;
  --button-background-color: #263238;
  --button-color: #ECEFF1;
  --background-pattern-color: transparent;
  --background-pattern-color: #8882;
  --lead-panel-background-color: var(--dark-accent-color-a);
  --fold-lead-button-background-color: #455A64;
  --fold-lead-button-color: #ECEFF1;
  --drill-panel-background-color: #000;
  --drill-cover-background-color: var(--dark-accent-color-b);
  --hint-balloon-chip-background-color: #000;
  --off-toggle-button-highlight-color: #78909C;
  --on-toggle-button-highlight-color: #FFC107;
  --app-sub-background-color: #37474F;
  --app-sub-color: #ECEFF1;
  --radio-button-background-color: #ECEFF1;
}
 
/*  ACCENT COLOR  */
:root[data-accent-color="red"] {
  --accent-color: #E53935;
}
:root[data-accent-color="pink"] {
  --accent-color: #D81B60;
}
:root[data-accent-color="purple"] {
  --accent-color: #8E24AA;
}
:root[data-accent-color="deep-purple"] {
  --accent-color: #5E35B1;
}
:root[data-accent-color="indigo"] {
  --accent-color: #3949AB;
}
:root[data-accent-color="blue"] {
  --accent-color: #1E88E5;
}
:root[data-accent-color="light-blue"] {
  --accent-color: #039BE5;
}
:root[data-accent-color="cyan"] {
  --accent-color: #00ACC1;
}
:root[data-accent-color="teal"] {
  --accent-color: #00897B;
}
:root[data-accent-color="green"] {
  --accent-color: #43A047;
}
:root[data-accent-color="light-green"] {
  --accent-color: #7CB342;
}
:root[data-accent-color="lime"] {
  --accent-color: #C0CA33;
}
:root[data-accent-color="yellow"] {
  --accent-color: #FDD835;
}
:root[data-accent-color="amber"] {
  --accent-color: #FFB300;
}
:root[data-accent-color="orange"] {
  --accent-color: #FB8C00;
}
:root[data-accent-color="deep-orange"] {
  --accent-color: #F4511E;
}
:root[data-accent-color="brown"] {
  --accent-color: #6D4C41;
}
:root,
:root[data-accent-color="blue-grey"] {
  --accent-color: #546E7A;
}

/*  BACKGROUND PATTERN  */
:root[data-background-pattern="none"] {
  --body-background-image: unset;
  --body-background-size: unset;
}
:root[data-background-pattern="thin-horizontal-stripe"] {
  --body-background-image: linear-gradient(0deg, transparent 50%, #8882 50%);
  --body-background-size: 8px 8px;
}
:root,
:root[data-background-pattern="medium-horizontal-stripe"] {
  --body-background-image: linear-gradient(0deg, transparent 50%, #8882 50%);
  --body-background-size: 16px 16px;
}
:root[data-background-pattern="thick-horizontal-stripe"] {
  --body-background-image: linear-gradient(0deg, transparent 50%, #8882 50%);
  --body-background-size: 32px 32px;
}
:root[data-background-pattern="extra-thick-horizontal-stripe"] {
  --body-background-image: linear-gradient(0deg, transparent 50%, #8882 50%);
  --body-background-size: 64px 64px;
}
:root[data-background-pattern="thin-vertical-stripe"] {
  --body-background-image: linear-gradient(90deg, transparent 50%, #8882 50%);
  --body-background-size: 8px 8px;
}
:root[data-background-pattern="medium-vertical-stripe"] {
  --body-background-image: linear-gradient(90deg, transparent 50%, #8882 50%);
  --body-background-size: 16px 16px;
}
:root[data-background-pattern="thick-vertical-stripe"] {
  --body-background-image: linear-gradient(90deg, transparent 50%, #8882 50%);
  --body-background-size: 32px 32px;
}
:root[data-background-pattern="extra-thick-vertical-stripe"] {
  --body-background-image: linear-gradient(90deg, transparent 50%, #8882 50%);
  --body-background-size: 64px 64px;
}
:root[data-background-pattern="small-checks"] {
  --body-background-image:
    linear-gradient(0deg, transparent 50%, #8882 50%),
    linear-gradient(90deg, transparent 50%, #8882 50%);
  --body-background-size: 16px 16px;
}
:root[data-background-pattern="medium-checks"] {
  --body-background-image:
    linear-gradient(0deg, transparent 50%, #8882 50%),
    linear-gradient(90deg, transparent 50%, #8882 50%);
  --body-background-size: 32px 32px;
}
:root[data-background-pattern="large-checks"] {
  --body-background-image:
    linear-gradient(0deg, transparent 50%, #8882 50%),
    linear-gradient(90deg, transparent 50%, #8882 50%);
  --body-background-size: 48px 48px;
}
:root[data-background-pattern="extra-large-checks"] {
  --body-background-image:
    linear-gradient(0deg, transparent 50%, #8882 50%),
    linear-gradient(90deg, transparent 50%, #8882 50%);
  --body-background-size: 64px 64px;
}
:root[data-background-pattern="small-dots"] {
  --body-background-image: radial-gradient(#8882 30%, transparent 30%);
  --body-background-size: 16px 16px;
}
:root[data-background-pattern="medium-dots"] {
  --body-background-image: radial-gradient(#8882 30%, transparent 30%);
  --body-background-size: 32px 32px;
}
:root[data-background-pattern="large-dots"] {
  --body-background-image: radial-gradient(#8882 30%, transparent 30%);
  --body-background-size: 48px 48px;
}
:root[data-background-pattern="extra-large-dots"] {
  --body-background-image: radial-gradient(#8882 30%, transparent 30%);
  --body-background-size: 64px 64px;
}

/* --------- *
 *  GENERAL  *
 * --------- */
 :root {
  --common-font-size: 4vmin;
  --common-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  --common-cell-border-spacing: .5rem;
  --common-padding: .5rem 1rem;
  --common-border-width: 2px;
  --lead-cell-height: 2.25rem;
  --hint-balloon-height: 1.5em;
  --hint-balloon-border-width: .2rem;
  --control-height: 2rem;
  --footer-cell-height: 2.25rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  user-select: none;
  touch-action: pan-y;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}




html {
  height: 100%;
  background-color: var(--app-main-background-color);




  color: var(--app-main-color);
  font-size: var(--common-font-size);
  font-family: var(--common-font-family);
}
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: var(--common-border-width) solid transparent;
  background-color: inherit;
  color: inherit;
  vertical-align: middle;
  cursor: pointer;
}
:root:not(.disable-control) button:hover,
:root:not(.disable-control) button:hover::before,
:root:not(.disable-control) button:hover::after {
  background-image: linear-gradient(#FFF2, #FFF2);
}
button > svg {
  width: 75%;
  height: 75%;
  fill: currentColor;
  stroke: currentColor;
}

/* ----------- *
 *  HTML BODY  *
 * ----------- */
body {
  display: grid;
  grid-template:
    "lead lead lead" var(--lead-cell-height)
    "... ... ..." var(--common-cell-border-spacing)
    "question ... answer" 1fr
    "statistics ... controls" min-content
    "footer footer footer" var(--footer-cell-height)
    / 1fr var(--common-cell-border-spacing) 1fr;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-image: var(--body-background-image);
  background-size: var(--body-background-size);
}
@media screen and (orientation: portrait) {
  body {
    grid-template:
      "lead" var(--lead-cell-height)
      "..." var(--common-cell-border-spacing)
      "question" 1fr
      "..." var(--common-cell-border-spacing)
      "answer" 1fr
      "statistics" min-content
      "controls" min-content
      "footer" var(--footer-cell-height)
      / 100%;
  }
}
body > * {
  position: relative;
}
#lead-cell {
  grid-area: lead;
}
#question-cell {
  grid-area: question;
}
#answer-cell {
  grid-area: answer;
}
#statistics-cell {
  grid-area: statistics;
}
#controls-cell {
  grid-area: controls;
}
#footer-cell {
  grid-area: footer;
}

/* ----------- *
 |  LEAD CELL  |
 * ----------- */
#lead-cell {
  --fold-lead-button-height: 1.5rem;
}
#lead-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--footer-cell-height));
  overflow-y: auto;
  background-color: var(--lead-panel-background-color);
  transition-duration: var(--common-transition-duration);
}
.fold-lead #lead-panel {
  height: var(--lead-cell-height);
}
#lead-body {
  margin-bottom: var(--fold-lead-button-height);
  padding: var(--common-padding);
  font-size: var(--lead-body-font-size);
  font-family: var(--drill-panel-font-family);
  line-height: 1.5em;
  overflow-wrap: break-word;
}
#fold-lead-button {
  position: fixed;
  right: 1rem;
  bottom: var(--footer-cell-height);
  width: 2rem;
  height: var(--fold-lead-button-height);
  background-color: var(--fold-lead-button-background-color);
  color: var(--fold-lead-button-color);
  cursor: pointer;
  transition-duration: var(--common-transition-duration);
}
.fold-lead #fold-lead-button {
  bottom: calc(100% - var(--lead-cell-height));
  transform: scale(1, -1);
}
#fold-lead-button:disabled {
  opacity: 0;
}
#fold-lead-button > svg {
  width: 60%;
  height: 60%;
}

/* ------------------------------- *
 |  QUESTION CELL AND ANSWER CELL  |
 * ------------------------------- */
.drill-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--drill-panel-background-color);
}
.drill-body {
  margin: auto;
  padding: var(--common-padding);
  font-size: var(--drill-panel-font-size);
  font-family: var(--drill-panel-font-family);
  line-height: var(--drill-body-line-height);
}
.drill-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--drill-cover-background-color);
  color: #FFF3;
  font-weight: bold;
  font-size: 10rem;
  transition-duration: var(--common-transition-duration);
}
:root.uncover-question #question-cover {
  left: -100%;
}
:root.uncover-answer #answer-cover {
  left: 100%;
}


.variable {
  --hint-balloon-visibility: hidden;
  --hint-balloon-opacity: 0;
  font-weight: bold;
}
:root.fold-lead:not(.show-settings) .variable.active,
:root.fold-lead:not(.show-settings):not(.has-active-element) .variable:hover {
  --hint-balloon-visibility: visible;
  --hint-balloon-opacity: 1;
  text-decoration: underline dashed var(--variable-underline-color);
}



.variable[data-variable-number="1"] {
  background-color: var(--variable-number-1-background-color);
}
.variable[data-variable-number="2"] {
  background-color: var(--variable-number-2-background-color);
}
.variable[data-variable-number="3"] {
  background-color: var(--variable-number-3-background-color);
}
.variable[data-variable-number="4"] {
  background-color: var(--variable-number-4-background-color);
}
.variable[data-variable-number="5"] {
  background-color: var(--variable-number-5-background-color);
}
.variable[data-variable-number="6"] {
  background-color: var(--variable-number-6-background-color);
}
.variable[data-variable-number="7"] {
  background-color: var(--variable-number-7-background-color);
}
.variable[data-variable-number="8"] {
  background-color: var(--variable-number-8-background-color);
}
.variable[data-variable-number="9"] {
  background-color: var(--variable-number-9-background-color);
}
.variable[data-variable-number="0"] {
  background-color: var(--variable-number-0-background-color);
}
.hint-balloon-chip {
  display: var(--hint-balloon-chip-display);
  visibility: var(--hint-balloon-visibility);
  opacity: var(--hint-balloon-opacity);
  position: fixed;
  z-index: 1;
  height: var(--hint-balloon-height);
  margin-top: calc(var(--hint-balloon-height) * -1 - var(--hint-balloon-border-width));
  overflow: visible;
  font-weight: bold;

  background-color: var(--hint-balloon-chip-background-color);
  border: var(--hint-balloon-border-width) solid var(--hint-balloon-chip-border-color);

}
.hint-balloon-chip::before {
  display: block;
  position: absolute;
  top: calc(100% + var(--hint-balloon-border-width));
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-chip-border-color);
  content: "";
}
.hint-balloon-chip::after {
  display: block;
  position: absolute;
  top: calc(100% - var(--hint-balloon-border-width));
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-chip-background-color);
  content: "";
}
.hint-balloon-body {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 calc(var(--hint-balloon-border-width) * 2);
//  border: var(--hint-balloon-border-width) solid var(--button-border-color);
//  background-color: var(--hint-balloon-chip-background-color);
  white-space: nowrap;
}

/* ---------------- *
 |  STATISTIC CELL  |
 * ---------------- */
#statistics-panel {
  width: 100%;
  height: 100%;
}
#statistics-body {
  padding: var(--common-padding);
  font-size: .75rem;
  line-height: 1rem;
}
#statistics-body::after {
  content: "\200B";
}

/* --------------- *
 |  CONTROLS CELL  |
 * --------------- */
#controls-panel {
  width: 100%;
  height: 100%;
}
#controls-body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: var(--common-padding);
}
#controls-body > *:not(:last-child) {
  border-right: 0;
}
.toggle-button {
  --toggle-button-height: .25rem;
}
.toggle-button {
  position: relative;
  width: 1.5rem;
  height: var(--control-height);
  border: var(--common-border-width) solid var(--button-border-color);
  background-color: var(--button-background-color);
}
.toggle-button::before {
  top: 0;
  border-top: calc(var(--toggle-button-height) + var(--common-border-width)) solid transparent;
  border-bottom: var(--common-border-width) solid var(--button-border-color);
  background-color: var(--off-toggle-button-highlight-color);
  color: var(--button-background-color);
}
.toggle-button::after {
  top: 100%;
  border-top: var(--common-border-width) solid var(--button-border-color);
  border-bottom: calc(var(--toggle-button-height) + var(--common-border-width)) solid transparent;
  background-color: var(--on-toggle-button-highlight-color);
  color: var(--button-color);
}
.toggle-button::before,
.toggle-button::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - var(--toggle-button-height));
  font-weight: bold;
  font-size: 1rem;
  transition-duration: calc(var(--common-transition-duration) / 2);
}
#enable-automatic-question-speaking-button::before,
#enable-automatic-question-speaking-button::after {
  content: "Q";
}
#enable-automatic-answer-speaking-button::before,
#enable-automatic-answer-speaking-button::after {
  content: "A";
}
:root[data-enable-automatic-question-speaking="true"] #enable-automatic-question-speaking-button::before,
:root[data-enable-automatic-answer-speaking="true"] #enable-automatic-answer-speaking-button::before {
  top: calc(var(--toggle-button-height) - 100%);
}
:root[data-enable-automatic-question-speaking="true"] #enable-automatic-question-speaking-button::after,
:root[data-enable-automatic-answer-speaking="true"] #enable-automatic-answer-speaking-button::after {
  top: var(--toggle-button-height);
}
.control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: var(--control-height);
  border: var(--common-border-width) solid var(--button-border-color);
  background-color: var(--button-background-color);
  color: var(--button-color);
}
.control-button#play-button {
  width: 5.5rem;
}
:root.disable-control .control-button {
  background-image: linear-gradient(#0002,#0002);
}
.control-button > svg {
  width: 50%;
  height: 50%;
}

/* ------------- *
 |  FOOTER CELL  |
 * ------------- */
#footer-panel {
  width: 100%;
  height: 100%;
  background-color: var(--app-sub-background-color);
  color: var(--app-sub-color);
}
#footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: var(--common-padding);
  font-size: .75rem;
  white-space: nowrap;
}
#show-settings-button,
#visit-home-button {
  width: var(--footer-cell-height);
  height: var(--footer-cell-height);
}
#show-settings-button > svg,
#visit-home-button > svg {
  width: 1rem;
  height: 1rem;
}

/*-------------------*
 |  SETTINGS SCREEN  |
 *-------------------*/
 #settings-screen {
  display: grid;
  grid-template:
    "... ... ..." 2.5rem 
    "... settings-title-bar ..." 2rem
    "... settings-panel ..." 1fr
    "... ... ..." 2.5rem
    / 2.5rem 1fr 2.5rem;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000C;
  transition-duration: var(--common-transition-duration);
}
:root.show-settings #settings-screen {
  visibility: visible;
  opacity: 1;
}
#settings-title-bar {
  grid-area: settings-title-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--common-padding);
  background-color: var(--app-sub-background-color);
  color: var(--app-sub-color);
  font-weight: bold;
}
#hide-settings-button {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--app-sub-color);
  cursor: pointer;
}
#hide-settings-button > svg {
  width: 60%;
  height: 60%;
}
#settings-panel {
  grid-area: settings-panel;
  overflow-y: auto;
  background-color: var(--app-main-background-color);
}
#settings-body {
  padding: var(--common-padding);
  font-size: 1rem;
}
.setting-category {
  border-bottom: .2rem dashed var(--setting-category-border-color);
  font-weight: bold;
}
.setting-category:not(:first-child) {
  margin-top: 1rem;
}
.setting-item {
  padding-left: 2rem;
  font-weight: bold;
  text-indent: -2rem;
  counter-increment: setting-item;
}
.setting-item {
  margin-top: .5rem;
}
.setting-item > span::before {
  content: counter(setting-item, lower-latin) ")\0020";
}
.setting-item > span::after {
  content: ":\0020";
}
.radio-button {
  --radio-button-size: 1rem;
  --radio-button-color: var(--radio-button-background-color);
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 1.5rem;
  margin-left: .25rem;
  padding-left: 1.25rem;
  border: 0;
  font-size: 1rem;
}
.radio-button.checked {
  --radio-button-color: var(--button-color);
}
.radio-button::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: var(--radio-button-size);
  height: var(--radio-button-size);
  margin-top: calc(var(--radio-button-size) * -.5);
  border: calc(var(--common-border-width) * 2) solid var(--radio-button-background-color);
  background-color: var(--radio-button-color);
  content: "";
}
.radio-button::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: var(--radio-button-size);
  height: var(--radio-button-size);
  margin-top: calc(var(--radio-button-size) * -.5);
  margin-top: -.5rem;
  border: var(--common-border-width) solid var(--button-border-color);
  content: "";
}
.radio-button[data-setting-key="accent-color"] {
  text-decoration-style: solid;
  text-decoration-line: underline;
  text-decoration-thickness: var(--common-border-width);
}
.radio-button[data-setting-key="accent-color"][data-setting-value="red"] {
  text-decoration-color: #F44336;
}.radio-button[data-setting-key="accent-color"][data-setting-value="pink"] {
  text-decoration-color: #E91E63;
}.radio-button[data-setting-key="accent-color"][data-setting-value="purple"] {
  text-decoration-color: #9C27B0;
}.radio-button[data-setting-key="accent-color"][data-setting-value="deep-purple"] {
  text-decoration-color: #673AB7;
}.radio-button[data-setting-key="accent-color"][data-setting-value="indigo"] {
  text-decoration-color: #3F51B5;
}.radio-button[data-setting-key="accent-color"][data-setting-value="blue"] {
  text-decoration-color: #2196F3;
}.radio-button[data-setting-key="accent-color"][data-setting-value="light-blue"] {
  text-decoration-color: #03A9F4;
}.radio-button[data-setting-key="accent-color"][data-setting-value="cyan"] {
  text-decoration-color: #00BCD4;
}.radio-button[data-setting-key="accent-color"][data-setting-value="teal"] {
  text-decoration-color: #009688;
}.radio-button[data-setting-key="accent-color"][data-setting-value="green"] {
  text-decoration-color: #4CAF50;
}.radio-button[data-setting-key="accent-color"][data-setting-value="light-green"] {
  text-decoration-color: #8BC34A;
}.radio-button[data-setting-key="accent-color"][data-setting-value="lime"] {
  text-decoration-color: #CDDC39;
}.radio-button[data-setting-key="accent-color"][data-setting-value="yellow"] {
  text-decoration-color: #FFEB3B;
}.radio-button[data-setting-key="accent-color"][data-setting-value="amber"] {
  text-decoration-color: #FFC107;
}.radio-button[data-setting-key="accent-color"][data-setting-value="orange"] {
  text-decoration-color: #FF9800;
}.radio-button[data-setting-key="accent-color"][data-setting-value="deep-orange"] {
  text-decoration-color: #FF5722;
}.radio-button[data-setting-key="accent-color"][data-setting-value="brown"] {
  text-decoration-color: #795548;
}.radio-button[data-setting-key="accent-color"][data-setting-value="blue-grey"] {
  text-decoration-color: #607D8B;
}