/* ------- *
 |  COLOR  |
 * ------- */
:root {
  --common-background-color: #CFD8DC;
  --common-color: #263238;
  --lead-panel-background-color: #C5CAE9;
  --lead-panel-color: #263238;
  --fold-lead-button-background-color: #455A64;
  --fold-lead-button-color: #CFD8DC;
  --main-panel-background-color: #FFFC;
  --main-panel-color: #263238;
  --main-cover-background-color: #3F51B5;
  --main-cover-color: #3949AB;
  --control-background-color: #CFD8DC;
  --disabled-controls-background-color: #ECEFF1;
  --control-border-color: #546E7A;
  --control-color: #455A64;
  --toggle-color: #78909C;
  --on-toggle-color: #FFC107;
  --footer-background-color: #37474F;
  --footer-color: #CFD8DC;
  --settings-header-background-color: #37474F;
  --settings-header-color: #CFD8DC;
  --setting-radio-background-color: #ECEFF1;
  --setting-radio-color: #455A64;
  --variable-number-1-background-color: #EF9A9A99;
  --variable-number-2-background-color: #90CAF999;
  --variable-number-3-background-color: #FFF59D99;
  --variable-number-4-background-color: #A5D6A799;
  --variable-number-5-background-color: #CE93D899;
  --variable-number-6-background-color: #FFCC8099;
  --variable-number-7-background-color: #80DEEA99;
  --variable-number-8-background-color: #F48FB199;
  --variable-number-9-background-color: #BCAAA499;
  --variable-number-0-background-color: #B0BEC599;
  --hint-balloon-background-color: #FFF;
  --hint-balloon-border-color: #607D8B;
  --hint-balloon-color: #263238;
}

/* --------- *
 |  GENERAL  |
 * --------- */
 :root {
  --stripes-image: repeating-linear-gradient(90deg, #FFF0 0px, #FFF6 4px, #FFF0 8px);
  --common-font-size: 4vmin;
  --common-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
  --common-cell-border-spacing: .25rem;
  --common-padding: .5rem 1rem;
  --common-border-width: 2px;
  --common-line-height: 1.5em;
  --common-transition-duration: .5s;
  --lead-cell-height: 2.25rem;
  --hint-balloon-height: 1.5em;
  --hint-balloon-border-width: .2rem;
  --control-height: 2rem;
  --footer-cell-height: 2.25rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  user-select: none;
  touch-action: pan-y;
}
:root[data-animation-duration="0"] *,
:root[data-animation="0"] *:before,
:root[data-animation="0"] *:after {
  --common-transition-duration: 0;
}
:root[data-animation-duration=".25s"] *,
:root[data-animation=".25s"] *:before,
:root[data-animation=".25s"] *:after {
  --common-transition-duration: .25s;
}
:root[data-animation-duration=".5s"] *,
:root[data-animation=".5s"] *:before,
:root[data-animation=".5s"] *:after {
  --common-transition-duration: .5s;
}
:root[data-animation-duration=".75s"] *,
:root[data-animation=".75s"] *:before,
:root[data-animation=".75s"] *:after {
  --common-transition-duration: .75s;
}
html {
  height: 100%;
  background-image: var(--stripes-image);
  background-color: var(--common-background-color);
  color: var(--common-color);
  font-size: var(--common-font-size);
  font-family: var(--common-font-family);
}
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: var(--common-border-width) solid transparent;
  background-color: inherit;
  color: inherit;
  vertical-align: middle;
  cursor: pointer;
}
:root:not(.disable-operation) button:hover,
:root:not(.disable-operation) button:hover::before,
:root:not(.disable-operation) button:hover::after {
  background-image: linear-gradient(#FFF2,#FFF2);
}
button > svg {
  width: 75%;
  height: 75%;
  fill: currentColor;
  stroke: currentColor;
}

/* ----------- *
 |  HTML BODY  |
 * ----------- */
body {
  display: grid;
  grid-template:
    "lead lead lead" var(--lead-cell-height)
    "... ... ..." var(--common-cell-border-spacing)
    "question ... answer" 1fr
    "statistics ... controls" min-content
    "footer footer footer" var(--footer-cell-height)
    / 1fr var(--common-cell-border-spacing) 1fr;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
@media screen and (orientation: portrait) {
  body {
    grid-template:
      "lead" var(--lead-cell-height)
      "..." var(--common-cell-border-spacing)
      "question" 1fr
      "..." var(--common-cell-border-spacing)
      "answer" 1fr
      "statistics" min-content
      "controls" min-content
      "footer" var(--footer-cell-height)
      / 100%;
  }
}
body > * {
  position: relative;
}
#lead-cell {
  grid-area: lead;
}
#question-cell {
  grid-area: question;
}
#answer-cell {
  grid-area: answer;
}
#statistics-cell {
  grid-area: statistics;
}
#controls-cell {
  grid-area: controls;
}
#footer-cell {
  grid-area: footer;
}

/* ----------- *
 |  LEAD CELL  |
 * ----------- */
#lead-cell {
  --fold-lead-button-height: 1.5rem;
}
#lead-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--footer-cell-height));
  overflow-y: auto;
  background-color: var(--lead-panel-background-color);
  transition-duration: var(--common-transition-duration);
}
.fold-lead #lead-panel {
  height: var(--lead-cell-height);
}
#lead-body {
  margin-bottom: var(--fold-lead-button-height);
  padding: var(--common-padding);
  color: var(--lead-panel-color);
  font-size: 1rem;
  line-height: var(--common-line-height);
  overflow-wrap: break-word;
}
#fold-lead-button {
  position: fixed;
  right: 1rem;
  bottom: var(--footer-cell-height);
  width: 2rem;
  height: var(--fold-lead-button-height);
  background-color: var(--fold-lead-button-background-color);
  color: var(--fold-lead-button-color);
  cursor: pointer;
  transition-duration: var(--common-transition-duration);
}
.fold-lead #fold-lead-button {
  bottom: calc(100% - var(--lead-cell-height));
  transform: scale(1, -1);
}
#fold-lead-button:disabled {
  opacity: 0;
}
#fold-lead-button > svg {
  width: 60%;
  height: 60%;
}

/* ------------------------------- *
 |  QUESTION CELL AND ANSWER CELL  |
 * ------------------------------- */
.rabbit-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--main-panel-background-color);
}
.rabbit-body {
  margin: auto;
  padding: var(--common-padding);
  color: var(--main-panel-color);
  font-size: 1.5rem;
  line-height: var(--common-line-height);
}
.rabbit-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-cover-background-color);
  color: var(--main-cover-color);
  font-weight: bold;
  font-size: 10rem;
  transition-duration: var(--common-transition-duration);
}
:root.uncover-question #question-cover {
  left: -100%;
}
:root.uncover-answer #answer-cover {
  left: 100%;
}
.variable {
  border-bottom: var(--hint-balloon-border-width) solid transparent;
  font-weight: bold;
}
.variable:hover,
.variable.active {
  border-bottom-color: var(--hint-balloon-border-color);
}
:root[data-disable-variable-highlight="true"] {
  --variable-number-1-background-color: unset;
  --variable-number-2-background-color: unset;
  --variable-number-3-background-color: unset;
  --variable-number-4-background-color: unset;
  --variable-number-5-background-color: unset;
  --variable-number-6-background-color: unset;
  --variable-number-7-background-color: unset;
  --variable-number-8-background-color: unset;
  --variable-number-9-background-color: unset;
  --variable-number-0-background-color: unset;
}
.variable[data-variable-number="1"] {
  background-color: var(--variable-number-1-background-color);
}
.variable[data-variable-number="2"] {
  background-color: var(--variable-number-2-background-color);
}
.variable[data-variable-number="3"] {
  background-color: var(--variable-number-3-background-color);
}
.variable[data-variable-number="4"] {
  background-color: var(--variable-number-4-background-color);
}
.variable[data-variable-number="5"] {
  background-color: var(--variable-number-5-background-color);
}
.variable[data-variable-number="6"] {
  background-color: var(--variable-number-6-background-color);
}
.variable[data-variable-number="7"] {
  background-color: var(--variable-number-7-background-color);
}
.variable[data-variable-number="8"] {
  background-color: var(--variable-number-8-background-color);
}
.variable[data-variable-number="9"] {
  background-color: var(--variable-number-9-background-color);
}
.variable[data-variable-number="0"] {
  background-color: var(--variable-number-0-background-color);
}
.hint-balloon-panel {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 100;
  height: var(--hint-balloon-height);
  margin-top: calc(var(--hint-balloon-height) * -1 - var(--hint-balloon-border-width));
  overflow: visible;
  color: var(--hint-balloon-color);
  font-weight: bold;
}
.hint-balloon-panel::before {
  display: block;
  position: absolute;
  top: 100%;
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-border-color);
  content: "";
}
.hint-balloon-panel::after {
  display: block;
  position: absolute;
  top: calc(100% - .2rem * 2);
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-background-color);
  content: "";
}
.variable:hover .hint-balloon-panel,
.variable.active .hint-balloon-panel {
  visibility: visible;
  opacity: 1;
}
.hint-balloon-body {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 calc(var(--hint-balloon-border-width) * 2);
  border: var(--hint-balloon-border-width) solid var(--hint-balloon-border-color);
  background-color: var(--hint-balloon-background-color);
  white-space: nowrap;
}

/* ---------------- *
 |  STATISTIC CELL  |
 * ---------------- */
#statistics-panel {
  width: 100%;
  height: 100%;
}
#statistics-body {
  padding: var(--common-padding);
  font-size: .75rem;
  line-height: 1rem;
}
#statistics-body::after {
  content: "\200B";
}

/* --------------- *
 |  CONTROLS CELL  |
 * --------------- */
#controls-panel {
  width: 100%;
  height: 100%;
}
#controls-body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: var(--common-padding);
}
#controls-body > *:not(:last-child) {
  border-right: 0;
}
.toggle-button {
  --this-toggle-height: .25rem;
}
.toggle-button {
  position: relative;
  width: 1.5rem;
  height: var(--control-height);
  border: var(--common-border-width) solid var(--control-border-color);
  background-color: var(--control-background-color);
}
.toggle-button::before {
  top: 0;
  border-top: var(--this-toggle-height) solid transparent;
  border-bottom: var(--common-border-width) solid var(--control-border-color);
  background-color: var(--toggle-color);
  color: var(--control-background-color);
}
.toggle-button::after {
  top: 100%;
  border-top: var(--common-border-width) solid var(--control-border-color);
  border-bottom: var(--this-toggle-height) solid transparent;
  background-color: var(--on-toggle-color);
  color: var(--control-color);
}
.toggle-button::before,
.toggle-button::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - var(--this-toggle-height));
  font-weight: bold;
  font-size: 1rem;
  transition-duration: calc(var(--common-transition-duration) / 2);
}
#enable-automatic-question-speaking-button::before,
#enable-automatic-question-speaking-button::after {
  content: "Q";
}
#enable-automatic-answer-speaking-button::before,
#enable-automatic-answer-speaking-button::after {
  content: "A";
}
:root[data-enable-automatic-question-speaking="true"] #enable-automatic-question-speaking-button::before,
:root[data-enable-automatic-answer-speaking="true"] #enable-automatic-answer-speaking-button::before {
  top: calc(var(--this-toggle-height) - 100%);
}
:root[data-enable-automatic-question-speaking="true"] #enable-automatic-question-speaking-button::after,
:root[data-enable-automatic-answer-speaking="true"] #enable-automatic-answer-speaking-button::after {
  top: var(--this-toggle-height);
}
.operation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: var(--control-height);
  border: var(--common-border-width) solid var(--control-border-color);
  background-color: var(--control-background-color);
  color: var(--control-color);
}
.operation-button#play-button {
  width: 5.5rem;
}
:root.disable-operation .operation-button {
  background-image: linear-gradient(#0002,#0002);
}
.operation-button > svg {
  width: 50%;
  height: 50%;
}

/* ------------- *
 |  FOOTER CELL  |
 * ------------- */
#footer-panel {
  width: 100%;
  height: 100%;
  background-color: var(--footer-background-color);
}
#footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--common-padding);
  color: var(--footer-color);
  font-size: .75rem;
  white-space: nowrap;
}
#show-settings-button,
#visit-home-button {
  width: 1.25rem;
  height: 1.25rem;
}

/*-----------------*
 |  SETTINGS CELL  |
 *-----------------*/
#settings-cell {
  display: grid;
  grid-template:
    "... ... ..." 2.5rem 
    "... settings-header ..." 2rem
    "... settings-panel ..." 1fr
    "... ... ..." 2.5rem
    / 2.5rem 1fr 2.5rem;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: var(--common-transition-duration);  
}
:root.show-settings #settings-cell {
  visibility: visible;
  opacity: 1;
}
#settings-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000C;
}
#settings-header {
  grid-area: settings-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--common-padding);
  background-color: var(--settings-header-background-color);
  color: var(--settings-header-color);
}
#hide-settings-button {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--settings-header-color);
  cursor: pointer;
  transition-duration: var(--common-transition-duration);
}
#hide-settings-button > svg {
  width: 60%;
  height: 60%;
}



#settings-panel {
  grid-area: settings-panel;
  overflow-y: auto;
  background-color: var(--common-background-color);
  background-image: var(--stripes-image);
}
#settings-body {
  padding: var(--common-padding);
}
#settings-body > ol {
  margin: 0;
  padding-left: 1.5rem;
  list-style-type: lower-latin;
}
#settings-body > ol > li {
  padding-left: 1rem;
  overflow: visible;
  text-indent: -1rem;
}
#settings-body > ol > li + li {
  padding-top: .5rem;
}


.setting-radio {
  --setting-radio-core-color: var(--setting-radio-background-color);
  position: relative;
  height: 1rem;
  margin-left: .25rem;
  padding-left: 1.25rem;
  border: 0;
  font-size: inherit;
}
.setting-radio.checked {
  --setting-radio-core-color: var(--control-color);
}
.setting-radio::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border: calc(var(--common-border-width) * 2) solid var(--setting-radio-background-color);
  background-color: var(--setting-radio-core-color);
  content: "";
}
.setting-radio::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border: var(--common-border-width) solid var(--control-border-color);
  content: "";
}
