:root {
  --background-color: #ccc;
  --panel-color: #fff;
  font-size: 4vmin;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  overflow: hidden;
  animation-fill-mode: forwards;
}
body {
  display: grid;
  grid-template:
    "caption caption" min-content
    "question answer" 1fr
    "controller controller" min-content
    "statistic copyright" min-content
    / 50% 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: var(--background-color);
}
@media screen and (orientation: portrait) {
  body {
    grid-template:
      "caption" min-content
      "question" 1fr
      "answer" 1fr
      "controller" min-content
      "statistic" min-content
      "copyright" min-content
      / 100%;
  }
}
#caption-wrapper {
  grid-area: caption;
  min-height: 2rem;
  max-height: 15vh;
  padding: .5rem 1rem;
  overflow-y: auto;
}
#caption-content {
  font-size: 1.25rem;
  overflow-wrap: break-word;
  line-height: 1.5em;
}
#question-wrapper {
  grid-area: question;
  border: 1px solid lightgray;
}
#answer-wrapper {
  grid-area: answer;
  border: 1px solid lightgray;
}
#question-wrapper,
#answer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: .5rem 1rem;
  overflow-y: auto;
  background-color: var(--panel-color);
}
#question-background,
#answer-background,
#question-cover,
#answer-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 10rem;
}
#question-background:before,
#question-cover:before {
  content: "Q";
}
#answer-background:before,
#answer-cover:before {
  content: "A";
}
#question-background,
#answer-background {
  background-color: white;
  color: lightgray;
}
#question-cover,
#answer-cover {
  visibility: hidden;
  background-color: purple;
  color: black;
}
#question-content,
#answer-content {
  position: relative;
  margin: auto;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  line-height: 1.5em;
}
#controller-wrapper {
  grid-area: controller;
  padding: .5rem 1rem;
  text-align: right;
}
#auto-read-aloud-checkbox {
  display: none;
}
#auto-read-aloud-checkbox + label {
  --border-width: 1px;
  --toggle-height: 1.5rem;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 2rem;
  border: var(--border-width) solid gray;
  background: lightgray;
  vertical-align: bottom;
}
#auto-read-aloud-checkbox + label::before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: calc(var(--border-width) * -1);
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0 0 var(--border-width) 0;
  border-style: solid;
  border-color: gray;
  background-color: gray;
  animation-fill-mode: forwards;
  content: "";
}
#auto-read-aloud-checkbox + label::after {
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  position: absolute;
  bottom: calc(var(--border-width) * -1);
  left: 0;
  width: 100%;
  height: var(--toggle-height);
  border-width: var(--border-width) 0 0 0;
  border-style: solid;
  border-color: gray;
  background-color: lime;
  content: "";
}
#auto-read-aloud-checkbox:not(:checked) + label::before {
  animation: hoge 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:not(:checked) + label::after {
  animation: hogehoge 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:checked + label::before {
  animation: hogehoge 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:checked + label::after {
  animation: hoge 200ms;
  animation-fill-mode: forwards;
}
@keyframes hoge {
  0% {
    height: 0;
  }
  100% {
    height: var(--toggle-height);
  }
}
@keyframes hogehoge {
  0% {
    height: var(--toggle-height);
  }
  100% {
    height: 0;
  }
}
#read-aloud-button {
  width: 4rem;
}
#continue-button {
  width: 6rem;
}
#skip-button {
  width: 4rem;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

#read-aloud-button,
#continue-button,
#skip-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
 border: 1px solid gray;
  color: gray;
}
#read-aloud-button > svg,
#continue-button > svg,
#skip-button > svg {
  display: block;
  width: 60%;
  height: 60%;
  fill: currentColor;
  stroke: currentColor;
}

#statistic-wrapper {
  grid-area: statistic;
  padding: .5rem 1rem;
  font-size: min(.75rem, 1.5vw);
  white-space: nowrap;
}
#copyright-wrapper {
  grid-area: copyright;
  padding: .5rem 1rem;
  font-size: min(.75rem, 1.5vw);
  text-align: right;
  white-space: nowrap;
}
.branch {
  font-weight: bold;
}
.branch[data-branch-number="1"],
.branch[data-branch-number="6"] {
  background-color: #F82F6666;
}
.branch[data-branch-number="2"],
.branch[data-branch-number="7"] {
  background-color: #008ECF66;
}
.branch[data-branch-number="3"],
.branch[data-branch-number="8"] {
  background-color: #70BE4766;
}
.branch[data-branch-number="4"],
.branch[data-branch-number="9"] {
  background-color: #F55A2166;
}
.branch[data-branch-number="5"],
.branch[data-branch-number="0"] {
  background-color: #F0EA3066;
}
.hint-balloon-wrapper {
  --hint-balloon-font-size: 1em;
  --hint-balloon-height: calc(var(--hint-balloon-font-size) * 1.6);
  --hint-balloon-background-color: #fff;
  --hint-balloon-border-color: #999;
  --hint-balloon-border-width: .2rem;
  display: block;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  height: var(--hint-balloon-height);
  margin-top: calc(var(--hint-balloon-height) * -1 - var(--hint-balloon-border-width));
  overflow: visible;
  font-weight: bold;
  font-size: var(--hint-balloon-font-size);
}
.hint-balloon-wrapper:before {
  display: block;
  position: absolute;
  top: 100%;
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-border-color);
  content: "";
}
.hint-balloon-wrapper::after {
  display: block;
  position: absolute;
  top: calc(100% - .2rem * 2);
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-background-color);
  content: "";
}
.hint-balloon-content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 calc(var(--hint-balloon-border-width) * 2);
  border: var(--hint-balloon-border-width) solid var(--hint-balloon-border-color);
  background-color: var(--hint-balloon-background-color);
  white-space: nowrap;
}
.branch:active .hint-balloon-wrapper,
.branch:hover .hint-balloon-wrapper {
  visibility: visible;
}
@keyframes flipA {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flipB {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    visibility: visible;
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToLeft {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes slideInFromRight {
  0% {
    visibility: visible;
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToRight {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes dummySlide {
  0% {
  }
  100% {
  }
}
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
