:root {
  --font-color: #333;
  --app-background: #ccc;
  --q-and-a-content-background: #fff;
  --q-and-a-content-watermark-color: #eee;
  --q-and-a-content-font-color: red;
  --q-and-a-cover-background: lightgreen;
  --q-and-a-cover-watermark-color: green;
  --disabled-toggle-background: black;
  --enabled-toggle-background: purple;
  --button-border-color: #666;
  --enabled-button-background: #eee;
  --disabled-button-background: #ccc;
  --button-font-color: #666;
  --footer-background: #000;
  --footer-font-color: #fff;
  --branch-background-a: #F82F6666;
  --branch-background-b: #008ECF66;
  --branch-background-c: #70BE4766;
  --branch-background-d: #F55A2166;
  --branch-background-e: #F0EA3066;
  --hint-balloon-border-color: #999;
  --hint-balloon-background: #fff;
  --hint-balloon-font-color: #333;
}
* {
  box-sizing: border-box;
  overflow: hidden;
  animation-fill-mode: forwards;
}
html {
  font-size: 4vmin;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
body {
  display: grid;
  grid-template:
    "caption caption" min-content
    "question answer" 1fr
    "statistic controller" min-content
    "link copyright" min-content
    / 50% 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--app-background);
}
@media screen and (orientation: portrait) {
  body {
    grid-template:
      "caption caption" min-content
      "question question" 1fr
      "answer answer" 1fr
      "statistic statistic" min-content
      "controller controller" min-content
      "link copyright" min-content
      / min-content 1fr;
  }
}
svg {
  fill: currentColor;
  stroke: currentColor;
}
#caption-wrapper {
  grid-area: caption;
  min-height: 2rem;
  max-height: 15vh;
  padding: .5rem 1rem;
  overflow-y: auto;
}
#caption-content {
  font-size: 1.25rem;
  overflow-wrap: break-word;
  line-height: 1.5em;
}
#question-wrapper {
  grid-area: question;
}
#answer-wrapper {
  grid-area: answer;
}
#question-wrapper,
#answer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1px;
  padding: .5rem 1rem;
  overflow-y: auto;
}
#question-background,
#answer-background,
#question-cover,
#answer-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 10rem;
}
#question-background:before,
#question-cover:before {
  content: "Q";
}
#answer-background:before,
#answer-cover:before {
  content: "A";
}
#question-background,
#answer-background {
  background: var(--q-and-a-content-background);
  color: var(--q-and-a-content-watermark-color);
}
#question-cover,
#answer-cover {
  visibility: hidden;
  background: var(--q-and-a-cover-background);
  color: var(--q-and-a-cover-watermark-color);
}
#question-content,
#answer-content {
  position: relative;
  margin: auto;
  color: var(--q-and-a-content-font-color);
  font-size: 1.5rem;
  overflow-wrap: break-word;
  line-height: 1.5em;
}
#controller-wrapper {
  grid-area: controller;
  padding: .5rem 1rem;
}
#controller-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
#auto-read-aloud-checkbox {
  display: none;
}
#auto-read-aloud-checkbox + label {
  --border-width: 1px;
  --toggle-height: 1.5rem;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 1.5rem;
  height: 2rem;
  border: var(--border-width) solid var(--button-border-color);
  background: var(--enabled-button-background);
}
#auto-read-aloud-checkbox + label::before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: calc(var(--border-width) * -1);
  left: 0;
  width: 100%;
  height: 0;
  border: solid var(--button-border-color);
  border-width: 0 0 var(--border-width) 0;
  background: var(--disabled-toggle-background);
  animation-fill-mode: forwards;
  content: "";
}
#auto-read-aloud-checkbox + label::after {
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  position: absolute;
  bottom: calc(var(--border-width) * -1);
  left: 0;
  width: 100%;
  height: var(--toggle-height);
  border: solid var(--button-border-color);
  border-width: var(--border-width) 0 0 0;
  background: var(--enabled-toggle-background);
  content: "";
}
#auto-read-aloud-checkbox:not(:checked) + label::before {
  animation: riseUp 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:not(:checked) + label::after {
  animation: fallDown 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:checked + label::before {
  animation: fallDown 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:checked + label::after {
  animation: riseUp 200ms;
  animation-fill-mode: forwards;
}
@keyframes riseUp {
  0% {
    height: 0;
  }
  100% {
    height: var(--toggle-height);
  }
}
@keyframes fallDown {
  0% {
    height: var(--toggle-height);
  }
  100% {
    height: 0;
  }
}
#read-aloud-button {
  width: 4rem;
}
#play-button {
  width: 6rem;
}
#skip-button {
  width: 4rem;
}
#read-aloud-button,
#play-button,
#skip-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border: 1px solid var(--button-border-color);
  border-left: 0;
  background: var(--enabled-button-background);
  color: var(--button-font-color);
}
#read-aloud-button:disabled,
#play-button:disabled,
#skip-button:disabled {
  background: var(--disabled-button-background);
}
#read-aloud-button > svg,
#play-button > svg,
#skip-button > svg {
  display: block;
  width: 60%;
  height: 60%;
}
#statistic-wrapper {
  grid-area: statistic;
  padding: .5rem 1rem;
  font-size: .75rem;
}
#link-wrapper {
  grid-area: link;
}
#copyright-wrapper {
  grid-area: copyright;
}
#link-wrapper,
#copyright-wrapper {
  padding: .5rem 1rem;
  background: var(--footer-background);
  color: var(--footer-font-color);
  font-size: .75rem;
  white-space: nowrap;
}
#home-link > svg {
  width: 1em;
  height: 1em;
  color: var(--footer-font-color);
}
#copyright-content {
  display: flex;
  justify-content: flex-end;
}
.branch {
  font-weight: bold;
}
.branch[data-branch-number="1"] {
  background: var(--branch-background-a);
}
.branch[data-branch-number="2"] {
  background: var(--branch-background-b);
}
.branch[data-branch-number="3"] {
  background: var(--branch-background-c);
}
.branch[data-branch-number="4"] {
  background: var(--branch-background-d);
}
.branch[data-branch-number="5"] {
  background: var(--branch-background-e);
}
.hint-balloon-wrapper {
  --hint-balloon-font-size: 1em;
  --hint-balloon-height: calc(var(--hint-balloon-font-size) * 1.6);
  --hint-balloon-border-width: .2rem;
  display: block;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  height: var(--hint-balloon-height);
  margin-top: calc(var(--hint-balloon-height) * -1 - var(--hint-balloon-border-width));
  overflow: visible;
  color: var(--hint-balloon-font-color);
  font-weight: bold;
  font-size: var(--hint-balloon-font-size);
}
.hint-balloon-wrapper:before {
  display: block;
  position: absolute;
  top: 100%;
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-border-color);
  content: "";
}
.hint-balloon-wrapper::after {
  display: block;
  position: absolute;
  top: calc(100% - .2rem * 2);
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-background);
  content: "";
}
.hint-balloon-content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 calc(var(--hint-balloon-border-width) * 2);
  border: var(--hint-balloon-border-width) solid var(--hint-balloon-border-color);
  background: var(--hint-balloon-background);
  white-space: nowrap;
}
.branch:active .hint-balloon-wrapper,
.branch:hover .hint-balloon-wrapper {
  visibility: visible;
}
@keyframes flipA {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flipB {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    visibility: visible;
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToLeft {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes slideInFromRight {
  0% {
    visibility: visible;
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToRight {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes dummySlide {
  0% {
  }
  100% {
  }
}
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
