:root {
  --main-background: repeating-linear-gradient(90deg, #CFD8DC 0px, #ECEFF1 4px, #CFD8DC 8px);
  --main-color: #263238;
  --description-panel-background: #C5CAE9EE;
  --description-panel-color: #263238;
  --fold-description-checkbox-background: #455A64;
  --fold-description-checkbox-color: #CFD8DC;
  --q-and-a-panel-background: #FFFC;
  --q-and-a-panel-color: #263238;
  --q-and-a-cover-background: #3F51B5;
  --q-and-a-cover-color: #3949AB;
  --controller-color: #455A64;
  --toggle-color: #FFB74D;
  --enabled-button-background: #CFD8DC;
  --disabled-button-background: #ECEFF1;
  --footer-background: #37474F;
  --footer-color: #CFD8DC;
  --branch-number-1-background: #EF9A9A99;
  --branch-number-2-background: #90CAF999;
  --branch-number-3-background: #FFF59D99;
  --branch-number-4-background: #A5D6A799;
  --branch-number-5-background: #CE93D899;
  --branch-number-6-background: #FFCC8099;
  --branch-number-7-background: #80DEEA99;
  --branch-number-8-background: #F48FB199;
  --branch-number-9-background: #BCAAA499;
  --branch-number-0-background: #B0BEC599;
  --hint-balloon-background: #FFF;
  --hint-balloon-border-color: #607D8B;
  --hint-balloon-color: #263238;
  --common-margin-width: .25rem;
  --common-margin-height: .25rem;
  --common-padding-width: 1rem;
  --common-padding-height: .5rem;
  --panel-line-height: 1.5em;
  --footer-height: 2rem;
}
:root:not(.enable-animation) *,
:root:not(.enable-animation) *::before,
:root:not(.enable-animation) *::after {
  transition-duration: 0ms !important;
}
* {
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
}
svg {
  fill: currentColor;
  stroke: currentColor;
}
html {
  height: 100%;
  font-size: 4vmin;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
}
body {
  display: grid;
  grid-template:
    "description description description" min-content
    "... ... ..." var(--common-margin-height)
    "question ... answer" 1fr
    "statistic ... controller" min-content
    "footer footer footer" var(--footer-height)
    / 1fr var(--common-margin-width) 1fr;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--main-background);
  color: var(--main-color);
}
@media screen and (orientation: portrait) {
  body {
    grid-template:
      "description" min-content
      "..." var(--common-margin-height)
      "question" 1fr
      "..." var(--common-margin-height)
      "answer" 1fr
      "statistic" min-content
      "controller" min-content
      "footer" var(--footer-height)
      / 100%;
  }
}
#description-cell {
  --description-panel-height: 2.25rem;
  --description-panel-max-height: calc(100vh - var(--footer-height));
  grid-area: description;
  height: var(--description-panel-height);
}
#fold-description-checkbox {
  display: none;
}
#description-panel {
  --transition-duration: 500ms;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: var(--description-panel-max-height);
  background: var(--description-panel-background);
}
#description-body {
  padding: .5rem 1rem;
  padding-bottom: 2rem;
  overflow-y: scroll;
  color: var(--description-panel-color);
  font-size: 1rem;
  line-height: var(--panel-line-height);
  overflow-wrap: break-word;
}
[for="fold-description-checkbox"] {
  --height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1rem;
  bottom: 0;
  width: 1.5rem;
  height: var(--height);
  background: var(--fold-description-checkbox-background);
  color: var(--fold-description-checkbox-color);
}
[for="fold-description-checkbox"].hidden {
  margin-bottom: calc(var(--height) * -1);
  transition: margin-bottom var(--transition-duration);
}
[for="fold-description-checkbox"] > svg {
  width: 50%;
  height: 50%;
}
#fold-description-checkbox:checked ~ #description-panel,
#fold-description-checkbox:checked ~ #description-panel > #description-body {
  height: var(--description-panel-height);
  transition: height var(--transition-duration);
}
#fold-description-checkbox:not(:checked) ~ #description-panel,
#fold-description-checkbox:not(:checked) ~ #description-panel > #description-body {
  height: var(--description-panel-max-height);
  transition: height var(--transition-duration);
}
#fold-description-checkbox:checked ~ #description-panel > [for="fold-description-checkbox"] {
  transform: scale(1, -1);
}
#question-cell {
  grid-area: question;
}
#answer-cell {
  grid-area: answer;
}
#question-cell,
#answer-cell {
  position: relative;
}
#question-panel,
#answer-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: var(--q-and-a-panel-background);
}
#question-body,
#answer-body {
  margin: auto;
  padding: .5rem 1rem;
  color: var(--q-and-a-panel-color);
  font-size: 1.5rem;
  line-height: var(--panel-line-height);
}
#question-cover,
#answer-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--q-and-a-cover-background);
  color: var(--q-and-a-cover-color);
  font-weight: bold;
  font-size: 10rem;
}
#question-cover:before {
  content: "Q";
}
#answer-cover:before {
  content: "A";
}
#statistic-cell {
  grid-area: statistic;
  padding: .5rem 1rem;
  font-size: .75rem;
}
#controller-cell {
  grid-area: controller;
  padding: .5rem 1rem;
}
#controller-body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
#controller-body > * {
  height: 2rem;
  border: 1px solid var(--controller-color);
}
#controller-body > *:not(:last-child) {
  border-right: 0;
}
#auto-read-aloud-checkbox {
  display: none;
}
[for="auto-read-aloud-checkbox"] {
  --border-width: 1px;
  --toggle-height: 1.5rem;
  position: relative;
  width: 1.5rem;
  background: var(--enabled-button-background);
}
[for="auto-read-aloud-checkbox"]::before {
  position: absolute;
  top: calc(var(--border-width) * -1);
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid var(--controller-color);
  background: var(--controller-color);
  content: "";
}
[for="auto-read-aloud-checkbox"]::after {
  position: absolute;
  bottom: calc(var(--border-width) * -1);
  left: 0;
  width: 100%;
  height: var(--toggle-height);
  border-top: 1px solid var(--controller-color);
  background: var(--toggle-color);
  content: "";
}
#auto-read-aloud-checkbox:not(:checked) ~ [for="auto-read-aloud-checkbox"]::before {
  animation: showToggleBackground 200ms forwards;
}
#auto-read-aloud-checkbox:not(:checked) ~ [for="auto-read-aloud-checkbox"]::after {
  animation: hideToggleBackground 200ms forwards;
}
#auto-read-aloud-checkbox:checked ~ [for="auto-read-aloud-checkbox"]::before {
  animation: hideToggleBackground 200ms forwards;
}
#auto-read-aloud-checkbox:checked ~ [for="auto-read-aloud-checkbox"]::after {
  animation: showToggleBackground 200ms forwards;
}
@keyframes showToggleBackground {
  from {
    height: 0;
  }
  to {
    height: var(--toggle-height);
  }
}
@keyframes hideToggleBackground {
  from {
    height: var(--toggle-height);
  }
  to {
    height: 0;
  }
}
#read-aloud-button,
#play-button,
#skip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  background: var(--enabled-button-background);
  color: var(--controller-color);
}
#play-button {
  width: 6rem;
}
#read-aloud-button:disabled,
#play-button:disabled,
#skip-button:disabled {
  background: var(--disabled-button-background);
}
#read-aloud-button > svg,
#play-button > svg,
#skip-button > svg {
  width: 50%;
  height: 50%;
}
#footer-cell {
  grid-area: footer;
}
#footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  background: var(--footer-background);
  color: var(--footer-color);
  font-size: .75rem;
  white-space: nowrap;
}
#home-link {
  display: flex;
  align-items: center;
}
#home-link > svg {
  width: 1em;
  height: 1em;
  color: var(--footer-color);
}
.branch {
  font-weight: bold;
}
.branch[data-branch-number="1"] {
  background: var(--branch-number-1-background);
}
.branch[data-branch-number="2"] {
  background: var(--branch-number-2-background);
}
.branch[data-branch-number="3"] {
  background: var(--branch-number-3-background);
}
.branch[data-branch-number="4"] {
  background: var(--branch-number-4-background);
}
.branch[data-branch-number="5"] {
  background: var(--branch-number-5-background);
}
.branch[data-branch-number="6"] {
  background: var(--branch-number-6-background);
}
.branch[data-branch-number="7"] {
  background: var(--branch-number-7-background);
}
.branch[data-branch-number="8"] {
  background: var(--branch-number-8-background);
}
.branch[data-branch-number="9"] {
  background: var(--branch-number-9-background);
}
.branch[data-branch-number="0"] {
  background: var(--branch-number-0-background);
}
.hint-balloon-panel {
  --hint-balloon-font-size: 1em;
  --hint-balloon-height: calc(var(--hint-balloon-font-size) * 1.5);
  --hint-balloon-border-width: .2rem;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  height: var(--hint-balloon-height);
  margin-top: calc(var(--hint-balloon-height) * -1 - var(--hint-balloon-border-width));
  overflow: visible;
  color: var(--hint-balloon-color);
  font-weight: bold;
  font-size: var(--hint-balloon-font-size);
}
.hint-balloon-panel:before {
  display: block;
  position: absolute;
  top: 100%;
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-border-color);
  content: "";
}
.hint-balloon-panel::after {
  display: block;
  position: absolute;
  top: calc(100% - .2rem * 2);
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-background);
  content: "";
}
.hint-balloon-body {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 calc(var(--hint-balloon-border-width) * 2);
  border: var(--hint-balloon-border-width) solid var(--hint-balloon-border-color);
  background: var(--hint-balloon-background);
  white-space: nowrap;
}

/*
.branch:not(:active) > .hint-balloon-panel,
.branch:not(:hover) > .hint-balloon-panel {
//  animation: hideHintBalloon 200ms;
//  animation-fill-mode: forwards;
  visibility: visible;
  opacity: 0;
  transition: visibility 1s ease-out, opacity 1s ease-out;
}
.branch:active > .hint-balloon-panel,
.branch:hover > .hint-balloon-panel {
//  animation: showHintBalloon 200ms;
//  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 1;
  transition: visibility 1s ease-out, opacity 1s ease-out;
}

@keyframes hideHintBalloon {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes showHintBalloon {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
*/
/*
.branch:active > .hint-balloon-panel,
.branch:hover > .hint-balloon-panel {
  visibility: visible;
}
*/
@keyframes flipA {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flipB {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    visibility: visible;
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToLeft {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes slideInFromRight {
  0% {
    visibility: visible;
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToRight {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes dummyAnimation {
  0% {
  }
  100% {
  }
}
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
