:root {
  --main-background: repeating-linear-gradient(90deg, #CFD8DC 0px, #ECEFF1 4px, #CFD8DC 8px);
  --main-font-color: #263238;
  --caption-background: #FFE0B2EE;
  --caption-font-color: #263238;
  --caption-visibility-toggle-background: #455A64;
  --caption-visibility-toggle-font-color: #CFD8DC;
  --q-and-a-content-background: #FFFE;
  --q-and-a-content-watermark-color: #ECEFF1;
  --q-and-a-content-font-color: #263238;
  --q-and-a-cover-background: #3F51B5;
  --q-and-a-cover-watermark-color: #3949AB;
  --on-toggle-background: #FFB74D;
  --off-toggle-background: #455A64;
  --enabled-button-background: #CFD8DC;
  --disabled-button-background: #ECEFF1;
  --button-border-color: #607D8B;
  --button-font-color: #455A64;
  --footer-background: #263238;
  --footer-font-color: #CFD8DC;
  --branch-background-a: #F82F6666;
  --branch-background-b: #008ECF66;
  --branch-background-c: #70BE4766;
  --branch-background-d: #F55A2166;
  --branch-background-e: #F0EA3066;
  --hint-balloon-background: #fff;
  --hint-balloon-border-color: #999;
  --hint-balloon-font-color: #333;
  --panel-line-height: 1.5em;
}
* {
  box-sizing: border-box;
  overflow: hidden;
  animation-fill-mode: forwards;
}
html {
  height: 100%;
  font-size: 4vmin;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
body {
  display: grid;
  grid-template:
    "caption caption" min-content
    "question answer" 1fr
    "statistic controller" min-content
    "footer footer" min-content
    / 50% 50%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--main-background);
  color: var(--main-font-color);
}
@media screen and (orientation: portrait) {
  body {
    grid-template:
      "caption" min-content
      "question" 1fr
      "answer" 1fr
      "statistic" min-content
      "controller" min-content
      "footer" min-content
      / 100%;
  }
}
svg {
  fill: currentColor;
  stroke: currentColor;
}
#caption-cell {
  --caption-panel-height: 2.5rem;
  --caption-visibility-toggle-height: 1.5rem;
  grid-area: caption;
  height: calc(var(--caption-panel-height) + .5rem);
}
#caption-panel {
  position: fixed;
  top: 0;
  right: .5rem;
  left: .5rem;
  z-index: 100;
  min-height: var(--caption-panel-height);
  max-height: var(--caption-panel-height);
  padding: .5rem 1rem calc(var(--caption-visibility-toggle-height) + .5rem) 1rem;
  background: var(--caption-background);
  color: var(--caption-font-color);
  font-size: 1rem;
  line-height: var(--panel-line-height);
  overflow-wrap: break-word;
}
#caption-visibility-checkbox {
  display: none;
}
[for="caption-visibility-checkbox"] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1rem;
  bottom: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--caption-visibility-toggle-background);
  color: var(--caption-visibility-toggle-font-color);
}
[for="caption-visibility-checkbox"] > svg {
  width: 60%;
  height: 60%;
}
#caption-visibility-checkbox:checked + #caption-panel {
  animation: hideCaption 800ms;
  animation-fill-mode: forwards;
}
@keyframes hideCaption {
  0% {
    max-height: calc(100vh - .5rem);
  }
  100% {
    max-height: var(--caption-panel-height);
    overflow-y: hidden;
  }
}
#caption-visibility-checkbox:not(:checked) + #caption-panel {
  animation: showCaption 800ms;
  animation-fill-mode: forwards;
}
@keyframes showCaption {
  0% {
    max-height: 2.5rem;
  }
  100% {
    max-height: calc(100vh - .5rem);
    overflow-y: auto;
  }
}
#caption-visibility-checkbox:checked ~ * > [for="caption-visibility-checkbox"] {
  transform: scale(1, -1);
}
#question-cell {
  grid-area: question;
}
#answer-cell {
  grid-area: answer;
}
#question-cell,
#answer-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1px;
  padding: .5rem 1rem;
  overflow-y: auto;
}
#question-background,
#answer-background,
#question-cover,
#answer-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 10rem;
}
/*
#question-background:before,
#question-cover:before {
  content: "Q";
}
#answer-background:before,
#answer-cover:before {
  content: "A";
}
#question-background,
#answer-background {
  background: var(--q-and-a-content-background);
  color: var(--q-and-a-content-watermark-color);
}
*/
#question-cover,
#answer-cover {
  visibility: hidden;
  background: var(--q-and-a-cover-background);
  color: var(--q-and-a-cover-watermark-color);
}
#question-content,
#answer-content {
  position: relative;
  margin: auto;
  color: var(--q-and-a-content-font-color);
  font-size: 1.5rem;
  overflow-wrap: break-word;
  line-height: var(--panel-line-height);
}
#controller-cell {
  grid-area: controller;
  padding: .5rem 1rem;
}
#controller-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
#auto-read-aloud-checkbox {
  display: none;
}
#auto-read-aloud-checkbox + label {
  --border-width: 1px;
  --toggle-height: 1.5rem;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 1.5rem;
  height: 2rem;
  border: var(--border-width) solid var(--button-border-color);
  background: var(--enabled-button-background);
}
#auto-read-aloud-checkbox + label::before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: calc(var(--border-width) * -1);
  left: 0;
  width: 100%;
  height: 0;
  border: solid var(--button-border-color);
  border-width: 0 0 var(--border-width) 0;
  background: var(--off-toggle-background);
  animation-fill-mode: forwards;
  content: "";
}
#auto-read-aloud-checkbox + label::after {
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  position: absolute;
  bottom: calc(var(--border-width) * -1);
  left: 0;
  width: 100%;
  height: var(--toggle-height);
  border: solid var(--button-border-color);
  border-width: var(--border-width) 0 0 0;
  background: var(--on-toggle-background);
  content: "";
}
#auto-read-aloud-checkbox:not(:checked) + label::before {
  animation: riseUp 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:not(:checked) + label::after {
  animation: fallDown 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:checked + label::before {
  animation: fallDown 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:checked + label::after {
  animation: riseUp 200ms;
  animation-fill-mode: forwards;
}
@keyframes riseUp {
  0% {
    height: 0;
  }
  100% {
    height: var(--toggle-height);
  }
}
@keyframes fallDown {
  0% {
    height: var(--toggle-height);
  }
  100% {
    height: 0;
  }
}
#read-aloud-button {
  width: 4rem;
}
#play-button {
  width: 6rem;
}
#skip-button {
  width: 4rem;
}
#read-aloud-button,
#play-button,
#skip-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border: 1px solid var(--button-border-color);
  border-left: 0;
  background: var(--enabled-button-background);
  color: var(--button-font-color);
}
#read-aloud-button:disabled,
#play-button:disabled,
#skip-button:disabled {
  background: var(--disabled-button-background);
}
#read-aloud-button > svg,
#play-button > svg,
#skip-button > svg {
  display: block;
  width: 60%;
  height: 60%;
}
#statistic-cell {
  grid-area: statistic;
  padding: .5rem 1rem;
  font-size: .75rem;
}
#footer-cell {
  grid-area: footer;
  padding: .5rem 1rem;
  background: var(--footer-background);
  color: var(--footer-font-color);
  font-size: .75rem;
  white-space: nowrap;
}
#footer-content {
  display: flex;
  justify-content: space-between;
}
#home-link {
  display: inline-flex;
  align-items: center;
}
#home-link > svg {
  width: 1em;
  height: 1em;
  color: var(--footer-font-color);
}
.branch {
  font-weight: bold;
}
.branch[data-branch-number="1"] {
  background: var(--branch-background-a);
}
.branch[data-branch-number="2"] {
  background: var(--branch-background-b);
}
.branch[data-branch-number="3"] {
  background: var(--branch-background-c);
}
.branch[data-branch-number="4"] {
  background: var(--branch-background-d);
}
.branch[data-branch-number="5"] {
  background: var(--branch-background-e);
}
.hint-balloon-cell {
  --hint-balloon-font-size: 1em;
  --hint-balloon-height: calc(var(--hint-balloon-font-size) * 1.6);
  --hint-balloon-border-width: .2rem;
  display: block;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  height: var(--hint-balloon-height);
  margin-top: calc(var(--hint-balloon-height) * -1 - var(--hint-balloon-border-width));
  overflow: visible;
  color: var(--hint-balloon-font-color);
  font-weight: bold;
  font-size: var(--hint-balloon-font-size);
}
.hint-balloon-cell:before {
  display: block;
  position: absolute;
  top: 100%;
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-border-color);
  content: "";
}
.hint-balloon-cell::after {
  display: block;
  position: absolute;
  top: calc(100% - .2rem * 2);
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-background);
  content: "";
}
.hint-balloon-content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 calc(var(--hint-balloon-border-width) * 2);
  border: var(--hint-balloon-border-width) solid var(--hint-balloon-border-color);
  background: var(--hint-balloon-background);
  white-space: nowrap;
}
.branch:active .hint-balloon-cell,
.branch:hover .hint-balloon-cell {
  visibility: visible;
}
@keyframes flipA {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flipB {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    visibility: visible;
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToLeft {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes slideInFromRight {
  0% {
    visibility: visible;
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToRight {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes dummySlide {
  0% {
  }
  100% {
  }
}
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
