:root {
  --main-background: repeating-linear-gradient(90deg, #CFD8DC 0px, #ECEFF1 4px, #CFD8DC 8px);
  --main-color: #263238;
  --caption-panel-background: #FFE0B2EE;
  --caption-panel-color: #263238;
  --hide-caption-checkbox-background: #455A64;
  --hide-caption-checkbox-color: #CFD8DC;
  --q-and-a-panel-background: #FFFC;
  --q-and-a-panel-color: #263238;
  --q-and-a-cover-background: #3F51B5;
  --q-and-a-cover-color: #3949AB;
  --controller-border-color: #607D8B;
  --on-toggle-background: #FFB74D;
  --off-toggle-background: #455A64;
  --enabled-button-background: #CFD8DC;
  --disabled-button-background: #ECEFF1;
  --button-color: #455A64;
  --footer-background: #263238;
  --footer-color: #CFD8DC;
  --branch-number-1-background: #EF9A9A99;
  --branch-number-2-background: #90CAF999;
  --branch-number-3-background: #FFF59D99;
  --branch-number-4-background: #A5D6A799;
  --branch-number-5-background: #CE93D899;
  --branch-number-6-background: #FFCC8099;
  --branch-number-7-background: #80DEEA99;
  --branch-number-8-background: #F48FB199;
  --branch-number-9-background: #BCAAA499;
  --branch-number-0-background: #B0BEC599;
  --hint-balloon-background: #FFF;
  --hint-balloon-border-color: #607D8B;
  --hint-balloon-color: #263238;
  --panel-line-height: 1.5em;
}
* {
  box-sizing: border-box;
  overflow: hidden;
  animation-fill-mode: forwards;
}
svg {
  fill: currentColor;
  stroke: currentColor;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
html {
  height: 100%;
  font-size: 4vmin;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
}
body {
  display: grid;
  grid-template:
    "caption caption caption" min-content
    "... ... ..." .25rem
    "question ... answer" 1fr
    "statistic ... controller" min-content
    "footer footer footer" 2rem
    / 1fr .25rem 1fr;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--main-background);
  color: var(--main-color);
}
@media screen and (orientation: portrait) {
  body {
    grid-template:
      "caption" min-content
      "..." .25rem
      "question" 1fr
      "..." .25rem
      "answer" 1fr
      "statistic" min-content
      "controller" min-content
      "footer" 2rem
      / 100%;
  }
}
#caption-cell {
  --caption-panel-height: 2.25rem;
  --caption-panel-max-height: calc(100vh - 2rem);
  grid-area: caption;
  height: var(--caption-panel-height);
}
#hide-caption-checkbox {
  display: none;
}
#caption-panel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: var(--caption-panel-height);
  max-height: var(--caption-panel-height);
  background: var(--caption-panel-background);
  color: var(--caption-panel-color);
  font-size: 1rem;
  line-height: var(--panel-line-height);
  overflow-wrap: break-word;
}
#caption-body {
  padding: .5rem 1rem;
  padding-bottom: 2rem;
  overflow-y: scroll;
}
[for="hide-caption-checkbox"] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1rem;
  bottom: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--hide-caption-checkbox-background);
  color: var(--hide-caption-checkbox-color);
}
[for="hide-caption-checkbox"] > svg {
  width: 50%;
  height: 50%;
}
@keyframes hideCaption {
  0% {
    max-height: var(--caption-panel-max-height);
  }
  100% {
    max-height: var(--caption-panel-height);
  }
}
@keyframes showCaption {
  0% {
    max-height: var(--caption-panel-height);
  }
  100% {
    max-height: var(--caption-panel-max-height);
  }
}
#hide-caption-checkbox:checked ~ #caption-panel,
#hide-caption-checkbox:checked ~ #caption-panel > #caption-body {
  animation: hideCaption 500ms;
  animation-fill-mode: forwards;
}
#hide-caption-checkbox:not(:checked) ~ #caption-panel,
#hide-caption-checkbox:not(:checked) ~ #caption-panel > #caption-body {
  animation: showCaption 500ms;
  animation-fill-mode: forwards;
}
#hide-caption-checkbox:checked ~ #caption-panel > [for="hide-caption-checkbox"] {
  transform: scale(1, -1);
}
#question-cell {
  grid-area: question;
}
#answer-cell {
  grid-area: answer;
}
#question-cell,
#answer-cell {
  position: relative;
}
#question-panel,
#answer-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  overflow-y: auto;
  background: var(--q-and-a-panel-background);
  color: var(--q-and-a-panel-color);
}
#question-body,
#answer-body {
  margin: auto;
  font-size: 1.5rem;
}
#question-cover,
#answer-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--q-and-a-cover-background);
  color: var(--q-and-a-cover-color);
  font-weight: bold;
  font-size: 10rem;
}
#question-cover:before {
  content: "Q";
}
#answer-cover:before {
  content: "A";
}
#statistic-cell {
  grid-area: statistic;
  padding: .5rem 1rem;
  font-size: .75rem;
}
#controller-cell {
  grid-area: controller;
  padding: .5rem 1rem;
}
#controller-body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
#controller-body > * {
  height: 2rem;
  border: 1px solid var(--controller-border-color);
}
#controller-body > *:not(:last-child) {
  border-right: 0;
}
#auto-read-aloud-checkbox {
  display: none;
}
[for="auto-read-aloud-checkbox"] {
  --border-width: 1px;
  --toggle-height: 1.5rem;
  position: relative;
  width: 1.5rem;
  background: var(--enabled-button-background);
}
[for="auto-read-aloud-checkbox"]::before {
  position: absolute;
  top: calc(var(--border-width) * -1);
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid var(--controller-border-color);
  background: var(--off-toggle-background);
  content: "";
}
[for="auto-read-aloud-checkbox"]::after {
  position: absolute;
  bottom: calc(var(--border-width) * -1);
  left: 0;
  width: 100%;
  height: var(--toggle-height);
  border-top: 1px solid var(--controller-border-color);
  background: var(--on-toggle-background);
  content: "";
}
@keyframes showToggleBackground {
  0% {
    height: 0;
  }
  100% {
    height: var(--toggle-height);
  }
}
@keyframes hideToggleBackground {
  0% {
    height: var(--toggle-height);
  }
  100% {
    height: 0;
  }
}
#auto-read-aloud-checkbox:not(:checked) ~ [for="auto-read-aloud-checkbox"]::before {
  animation: showToggleBackground 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:not(:checked) ~ [for="auto-read-aloud-checkbox"]::after {
  animation: hideToggleBackground 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:checked ~ [for="auto-read-aloud-checkbox"]::before {
  animation: hideToggleBackground 200ms;
  animation-fill-mode: forwards;
}
#auto-read-aloud-checkbox:checked ~ [for="auto-read-aloud-checkbox"]::after {
  animation: showToggleBackground 200ms;
  animation-fill-mode: forwards;
}
#read-aloud-button,
#play-button,
#skip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  background: var(--enabled-button-background);
  color: var(--button-color);
}
#play-button {
  width: 6rem;
}
#read-aloud-button:disabled,
#play-button:disabled,
#skip-button:disabled {
  background: var(--disabled-button-background);
}
#read-aloud-button > svg,
#play-button > svg,
#skip-button > svg {
  width: 50%;
  height: 50%;
}
#footer-cell {
  grid-area: footer;
}
#footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  background: var(--footer-background);
  color: var(--footer-color);
  font-size: .75rem;
  white-space: nowrap;
}
#home-link {
  display: flex;
  align-items: center;
}
#home-link > svg {
  width: 1em;
  height: 1em;
  color: var(--footer-color);
}
.branch {
  font-weight: bold;
}
.branch[data-branch-number="1"] {
  background: var(--branch-number-1-background);
}
.branch[data-branch-number="2"] {
  background: var(--branch-number-2-background);
}
.branch[data-branch-number="3"] {
  background: var(--branch-number-3-background);
}
.branch[data-branch-number="4"] {
  background: var(--branch-number-4-background);
}
.branch[data-branch-number="5"] {
  background: var(--branch-number-5-background);
}
.branch[data-branch-number="6"] {
  background: var(--branch-number-6-background);
}
.branch[data-branch-number="7"] {
  background: var(--branch-number-7-background);
}
.branch[data-branch-number="8"] {
  background: var(--branch-number-8-background);
}
.branch[data-branch-number="9"] {
  background: var(--branch-number-9-background);
}
.branch[data-branch-number="0"] {
  background: var(--branch-number-0-background);
}
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.hint-balloon-panel {
  --hint-balloon-font-size: 1em;
  --hint-balloon-height: calc(var(--hint-balloon-font-size) * 1.5);
  --hint-balloon-border-width: .2rem;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  height: var(--hint-balloon-height);
  margin-top: calc(var(--hint-balloon-height) * -1 - var(--hint-balloon-border-width));
  overflow: visible;
  color: var(--hint-balloon-color);
  font-weight: bold;
  font-size: var(--hint-balloon-font-size);
}
.hint-balloon-panel:before {
  display: block;
  position: absolute;
  top: 100%;
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-border-color);
  content: "";
}
.hint-balloon-panel::after {
  display: block;
  position: absolute;
  top: calc(100% - .2rem * 2);
  left: calc(var(--hint-balloon-border-width) * 2);
  border: calc(var(--hint-balloon-border-width) * 2) solid transparent;
  border-top: calc(var(--hint-balloon-border-width) * 4) solid var(--hint-balloon-background);
  content: "";
}
.hint-balloon-body {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 calc(var(--hint-balloon-border-width) * 2);
  border: var(--hint-balloon-border-width) solid var(--hint-balloon-border-color);
  background: var(--hint-balloon-background);
  white-space: nowrap;
}
.branch:active > .hint-balloon-panel,
.branch:hover > .hint-balloon-panel {
  visibility: visible;
}
@keyframes flipA {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes flipB {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    visibility: visible;
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToLeft {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes slideInFromRight {
  0% {
    visibility: visible;
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutToRight {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes dummyAnimation {
  0% {
  }
  100% {
  }
}
